[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cache/index.html
Icon=preferences-web-browser-cache
Exec=kcmshell5 cache

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cache
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=networksettings
X-KDE-Weight=80

Name=Cache
Name[af]=Kas
Name[as]=কেছে
Name[be]=Кэш
Name[be@latin]=Padručnaja pamiać
Name[bg]=Временна памет
Name[bn]=ক্যাশে (Cache)
Name[bn_IN]=ক্যাশে
Name[br]=Krubuilh
Name[csb]=Cache
Name[cy]=Cache
Name[da]=Cache
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[en_GB]=Cache
Name[eo]=Tenejo
Name[et]=Puhver
Name[eu]=Katxea
Name[fa]=نهانگاه
Name[fy]=Lyts ûnthâld
Name[ga]=Taisce
Name[gu]=કૅશ
Name[he]=מטמון
Name[hne]=कैस
Name[hr]=Pohrana
Name[hsb]=Temporarny pomjatk
Name[hu]=Gyorsítótár
Name[ia]=Cache
Name[id]=Tembolok
Name[it]=Cache
Name[kk]=Кэш
Name[kn]=ಸಿದ್ಧಸ್ಮೃತಿ (ಕ್ಯಾಶೆ)
Name[ku]=Pêşbîr
Name[mai]=कैश
Name[mk]=Кеш
Name[ml]=കാഷ്
Name[mr]=कैश
Name[ms]=Cache
Name[nds]=Twischenspieker
Name[ne]=क्यास
Name[nl]=Cache
Name[oc]=Escondedor
Name[or]=କ୍ୟାଶେ
Name[pa]=ਕੈਸ਼
Name[pl]=Bufor
Name[pt_BR]=Cache
Name[ro]=Cache
Name[si]=කැච්
Name[sk]=Vyrovnávacia pamäť
Name[sv]=Cache
Name[ta]=நினைவில்
Name[te]=క్యాచి
Name[tg]=Системаи хотиравӣ
Name[th]=แคช
Name[uk]=Кеш
Name[uz]=Kesh
Name[uz@cyrillic]=Кэш
Name[vi]=Bộ nhớ tạm
Name[wa]=Muchete
Name[xh]=Indawo yokugcina efihlakeleyo
Name[x-test]=xxCachexx
Name[zh_CN]=缓存
Name[zh_TW]=快取

Comment=Configure web cache settings
Comment[nl]=Hier kunt u de webcache instellen
Comment[pt_BR]=Configura as opções de cache da Internet
Comment[sk]=Nastavenie vyrovnávacej pamäte pre WWW
Comment[uk]=Налаштування параметрів кешу сторінок інтернету
Comment[x-test]=xxConfigure web cache settingsxx

X-KDE-Keywords=Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[nl]=Cache,geschiedenis,browse geschiedenis,poorten,grootte
X-KDE-Keywords[pt_BR]=Cache,Histórico,Histórico de navegação,Portas,Tamanho
X-KDE-Keywords[sk]=Cache,História,História surfovania,Porty,Veľkosť
X-KDE-Keywords[uk]=Cache,History,Browsing History,Ports,Size,кеш,журнал,історія,перегляд,порти,розмір
X-KDE-Keywords[x-test]=xxCache,History,Browsing History,Ports,Sizexx
