[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cookies/index.html
Icon=preferences-web-browser-cookies
Exec=kcmshell5 cookies

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cookie
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=networksettings
X-KDE-Weight=90

Name=Cookies
Name[cs]=Cookies
Name[es]=Cookies
Name[fi]=Evästeet
Name[nl]=Cookies
Name[pt]='Cookies'
Name[pt_BR]=Cookies
Name[sk]=Cookies
Name[uk]=Куки
Name[x-test]=xxCookiesxx

Comment=Configure the way cookies work
Comment[af]=Konfigureer die weg koekies werk
Comment[as]=কুকিৰ কাম কৰা প্ৰক্ৰিয়া বিন্যাস কৰক
Comment[be]=Наставіць cookies
Comment[bg]=Настройване на бисквитките
Comment[bn]=কুকি কনফিগার করুন
Comment[bn_IN]=কুকি ব্যবহারের পদ্ধতি কনফিগার করুন
Comment[br]=Kefluniañ peseurt mod e labour an toupinoù
Comment[cs]=Nastavení chování cookies
Comment[csb]=Kònfigùracëjô dzéjaniô kùszków (cookies)
Comment[cy]=Ffurfweddu'r ffordd y mae cwcis yn gweithio
Comment[da]=Indstil hvordan cookies virker
Comment[de]=Einstellungen zu Cookies vornehmen
Comment[el]=Ρυθμίστε τον τρόπο με τον οποίο λειτουργούν τα cookies
Comment[en_GB]=Configure the way cookies work
Comment[eo]=Agordi la kuketan trakton
Comment[es]=Configurar cómo funcionan las cookies
Comment[et]=Küpsiste käitumise seadistamine
Comment[eu]=Konfiguratu cookien portaera
Comment[fa]=پیکربندی روش کار کردن کوکیها
Comment[fi]=Evästeiden asetukset
Comment[fy]=Hjir kinne jo de wurkwize fan koekjes ynstelle
Comment[ga]=Cumraigh conas a oibríonn fianáin
Comment[gu]=કૂકીઓ કઇ રીતે કાર્ય કરશે તે રૂપરેખાંકિત કરો
Comment[he]=הגדרת פעולת העוגיות
Comment[hne]=कुकीज के काम करे के ढंग कान्फिगर करव
Comment[hr]=Konfiguriranje funkcioniranja kolačića
Comment[hsb]=Placki připrawić
Comment[hu]=A sütik beállításai
Comment[ia]=Configura le modo de functionar del cookies
Comment[id]=Atur bagaimana cara kuki bekerja
Comment[it]=Configura come funzionano i cookie
Comment[kk]=Cookies жұмысын баптау
Comment[kn]=ಮಾಹಿತಿಚಿತ್ತಳಿಗಳು (ಕುಕೀಸ್) ಕೆಲಸ ಮಾಡುವ ಬಗೆಯನ್ನು ಸಂರಚಿಸು
Comment[ku]=Riya xebitîna çerezan ava bike
Comment[mai]=कुकीज केर काज करबाक तरीकाकेँ बिन्यस्त करू
Comment[mk]=Конфигурирајте го начинот на кој работат колачињата
Comment[ml]=കുക്കികള്‍ പ്രവര്‍ത്തിയ്ക്കുന്ന രീതി ക്രമീകരിയ്ക്കുക
Comment[mr]=कुकीजचे कार्य करण्याजी पध्दत संयोजीत करा
Comment[ms]=Konfigur cara cookies berfungsi
Comment[nds]=Instellen, woans de Kookjes funkscheneert
Comment[ne]=कुकीको कार्य तरीका कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het cookiesbeleid instellen
Comment[or]=କୁକିଗୁଡ଼ିକ ଯେଉଁ ଉପାୟରେ କାର୍ଯ୍ୟକରନ୍ତି ତାହା ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਕੂਕੀਜ਼ ਕੰਮ ਦੇ ਢੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja działania ciasteczek (cookies)
Comment[pt]=Configurar a forma como funcionam os 'cookies'
Comment[pt_BR]=Configura a maneira como os cookies funcionam
Comment[ro]=Configurează modul în care acționează cookie-urile
Comment[si]=කුකී ක්‍රියාකරන ආකාරය සකසන්න
Comment[sk]=Nastavenie správania cookies
Comment[sv]=Anpassa hur kakor fungerar
Comment[ta]=நினைவிகள் பணியாற்றும் விதத்தை வடிவமை
Comment[te]=కుకీలు పనిచేయువిధానంను ఆకృతీకరించుము
Comment[tg]=Танзимоти cookies
Comment[th]=ปรับแต่งวิธีการทำงานของคุกกี้
Comment[uk]=Налаштування механізму кук
Comment[uz]=Kukilar ishlashini moslash
Comment[uz@cyrillic]=Кукилар ишлашини мослаш
Comment[vi]=Cấu hình cách cookie hoạt động
Comment[wa]=Apontyî l' dujhance des coûkes
Comment[xh]=Qwalasela indlela ezisebenza ngayo i cookies
Comment[x-test]=xxConfigure the way cookies workxx
Comment[zh_CN]=配置 cookies 相关设置
Comment[zh_TW]=設定 cookies 運作方式

X-KDE-Keywords=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[es]=Cookies,Navegación,Internet,WWW,Red,Políticas,Dominios
X-KDE-Keywords[fi]=Evästeet,Selaus,Selailu,Internet,WWW,Verkko,Käytäntö,Käytänne,Verkkoalueet
X-KDE-Keywords[nl]=Cookies,browsen,internet,www,netwerk,beleid,domeinen
X-KDE-Keywords[pt]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[pt_BR]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[sk]=Cookies,Sufrovanie,Internet,WWW,Sieť,Politika,Domény
X-KDE-Keywords[uk]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,кука,куки,перегляд,інтернет,мережа,правило,правила,домен,домени
X-KDE-Keywords[x-test]=xxCookies,Browsing,Internet,WWW,Network,Policy,Domainsxx
