[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=UserAgentStrings
Comment=UserAgent Strings
Comment[af]=Gebruiker agent Stringe
Comment[as]=UserAgent Strings
Comment[be]=Радкі ідэнтыфікацыі вандроўніка UserAgent
Comment[be@latin]=Identyfikacyja „UserAgent”
Comment[bg]=Идентификация на браузъра
Comment[bn]=UserAgent Strings
Comment[bn_IN]=UserAgent-র পংক্তি
Comment[csb]=Miona "Programë Brëkòwnika"
Comment[cy]=Llinynnau Asiant y Defnyddiwr
Comment[da]=Brugeragent-strenge
Comment[de]=Browserkennungen
Comment[el]=Συμβολοσειρές πράκτορα χρήστη
Comment[en_GB]=UserAgent Strings
Comment[eo]=Uzantoagento-frazoj
Comment[et]=Veebilehitseja identifikaatorid
Comment[eu]=Erabiltzaile agentearen kateak 
Comment[fa]=رشته‌های عامل‌ کاربر
Comment[fr]=Chaînes d'identité du navigateur
Comment[fy]=regels foar brûkersagint
Comment[ga]=Teaghráin UserAgent
Comment[gu]=યુઝરએજન્ટ વાક્યો
Comment[he]=מחרוזות זיהוי דפדפן
Comment[hne]=यूजरएजेंट स्ट्रिंग्स
Comment[hr]=Identifikacijske (UA – UserAgent) poruke
Comment[hsb]=UserAgent Strings
Comment[hu]=Böngészőazonosítók
Comment[ia]=Catenas de UserAgent
Comment[id]=Benang AgenPengguna
Comment[it]=Stringhe User Agent
Comment[kk]=UserAgent жазулары
Comment[kn]=ಬಳಕೆದಾರ ಮಧ್ಯವರ್ತಿ ಅಕ್ಷರಾವಳಿಗಳು (ಸ್ಟ್ರಿಂಗ್)
Comment[ku]=Rêzikên UserAgent
Comment[mai]=यूजरएजेंट स्ट्रिंग्स
Comment[mk]=UserAgent низи
Comment[ml]=യൂസര്‍ഏജന്റ് വാക്യങ്ങള്‍
Comment[mr]=यूजरएजेंट स्ट्रिंग्स
Comment[ms]=Rentetan Ejen Pengguna
Comment[nds]=Nettkieker-Kennen instellen
Comment[ne]=प्रयोगकर्ता एजेन्ट स्ट्रिङ
Comment[nl]=Tekstregels voor Gebruikersagent(GA)
Comment[or]=ଚାଳକ ବାକ୍ୟଖଣ୍ଡଗୁଡ଼ିକ
Comment[pa]=ਯੂਜ਼ਰ-ਏਜੰਟ ਸਤਰਾਂ
Comment[pl]=Nazwy "Programu Użytkownika"
Comment[ro]=Texte „Agent Utilizator”
Comment[si]=පරිශීලක නියෝජිත වැකිය
Comment[sv]=Användaragentsträngar
Comment[ta]=பயனர்முகவர் சரங்கள்
Comment[te]=యూజర్ఏజంట్ స్ట్రింగ్‍స్
Comment[tg]=Танзимотҳои UserAgent
Comment[th]=ข้อความแสดงตัวเบราว์เซอร์ของผู้ใช้
Comment[vi]=Chuỗi UserAgent
Comment[wa]=Tchines d' idintifiaedje do betchteu (tchinne «User Agent»)
Comment[xh]=Iqela lamagama UserAgent
Comment[zh_CN]=客户端字符串
Comment[zh_TW]=使用者代理字串設定

[PropertyDef::X-KDE-UA-TAG]
Type=QString

[PropertyDef::X-KDE-UA-FULL]
Type=QString

[PropertyDef::X-KDE-UA-NAME]
Type=QString

[PropertyDef::X-KDE-UA-VERSION]
Type=QString

[PropertyDef::X-KDE-UA-SYSNAME]
Type=QString

[PropertyDef::X-KDE-UA-SYSRELEASE]
Type=QString

[PropertyDef::X-KDE-UA-DYNAMIC-ENTRY]
Type=bool
