[Desktop Entry]
Charset=
Hidden=false
Keys=amazon,amz
Name=Amazon
Query=http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias=aps&field-keywords=\\{@}&x=0&y=0
ServiceTypes=SearchProvider
Type=Service
