[Desktop Entry]
Hidden=false
Keys=amg
Name=All Music Guide
Query=http://www.allmusic.com/search/all/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
