[Desktop Entry]
Charset=
Hidden=false
Keys=ard
Name=ARD Mediathek
Name[ar]=ARD Mediathek
Name[ca]=ARD Mediathek
Name[ca@valencia]=ARD Mediathek
Name[es]=ARD Mediathek
Name[he]=ARD Mediathek
Name[ia]=ARD Mediathek
Name[is]=ARD Mediathek
Name[ka]=ARD Mediathek
Name[nl]=ARD Mediatiek
Name[pt_BR]=ARD Mediathek
Name[sl]=ARD Mediathek
Name[tr]=ARD Mediathek
Name[uk]=ARD Mediathek
Query=https://www.ardmediathek.de/suche/\\{@}
Query[ar]=https://www.ardmediathek.de/suche/\\{@}
Query[ca]=https://www.ardmediathek.de/suche/\\{@}
Query[ca@valencia]=https://www.ardmediathek.de/suche/\\{@}
Query[es]=https://www.ardmediathek.de/suche/\\{@}
Query[he]=https://www.ardmediathek.de/suche/\\{@}
Query[ia]=https://www.ardmediathek.de/suche/\\{@}
Query[is]=https://www.ardmediathek.de/suche/\\{@}
Query[ka]=https://www.ardmediathek.de/suche/\\{@}
Query[nl]=https://www.ardmediathek.de/suche/\\{@}
Query[pt_BR]=https://www.ardmediathek.de/suche/\\{@}
Query[sl]=https://www.ardmediathek.de/suche/\\{@}
Query[tr]=https://www.ardmediathek.de/suche/\\{@}
Query[uk]=https://www.ardmediathek.de/suche/\\{@}
Type=Service
