[Desktop Entry]
Charset=
Hidden=false
Keys=ard
Name=ARD Mediathek
Name[ar]=ARD Mediathek
Name[bg]=ARD Mediathek
Name[ca]=ARD Mediathek
Name[ca@valencia]=ARD Mediathek
Name[de]=ARD Mediathek
Name[es]=ARD Mediathek
Name[fr]=Médiathèque ARD
Name[he]=ARD Mediathek
Name[ia]=ARD Mediathek
Name[is]=ARD Mediathek
Name[it]=ARD Mediathek
Name[ja]=ARD Mediathek
Name[ka]=ARD Mediathek
Name[ko]=ARD Mediathek
Name[lt]=ARD Mediathek
Name[nan_TW]=ARD Mediathek
Name[nan_TW@latin]=ARD Mediathek
Name[nl]=ARD Mediatiek
Name[pt_BR]=ARD Mediathek
Name[sk]=ARD Mediathek
Name[sl]=ARD Mediathek
Name[tr]=ARD Mediathek
Name[uk]=ARD Mediathek
Name[zh_CN]=ARD Mediathek
Name[zh_TW]=ARD Mediathek
Query=https://www.ardmediathek.de/suche/\\{@}
Query[ar]=https://www.ardmediathek.de/suche/\\{@}
Query[bg]=https://www.ardmediathek.de/suche/\\{@}
Query[ca]=https://www.ardmediathek.de/suche/\\{@}
Query[ca@valencia]=https://www.ardmediathek.de/suche/\\{@}
Query[de]=https://www.ardmediathek.de/suche/\\{@}
Query[es]=https://www.ardmediathek.de/suche/\\{@}
Query[fr]=https://www.ardmediathek.de/suche/\\{@}
Query[he]=https://www.ardmediathek.de/suche/\\{@}
Query[ia]=https://www.ardmediathek.de/suche/\\{@}
Query[is]=https://www.ardmediathek.de/suche/\\{@}
Query[it]=https://www.ardmediathek.de/suche/\\{@}
Query[ja]=https://www.ardmediathek.de/suche/\\{@}
Query[ka]=https://www.ardmediathek.de/suche/\\{@}
Query[ko]=https://www.ardmediathek.de/suche/\\{@}
Query[lt]=https://www.ardmediathek.de/suche/\\{@}
Query[nan_TW]=https://www.ardmediathek.de/suche/\\{@}
Query[nan_TW@latin]=https://www.ardmediathek.de/suche/\\{@}
Query[nl]=https://www.ardmediathek.de/suche/\\{@}
Query[pt_BR]=https://www.ardmediathek.de/suche/\\{@}
Query[sk]=https://www.ardmediathek.de/suche/\\{@}
Query[sl]=https://www.ardmediathek.de/suche/\\{@}
Query[tr]=https://www.ardmediathek.de/suche/\\{@}
Query[uk]=https://www.ardmediathek.de/suche/\\{@}
Query[zh_CN]=https://www.ardmediathek.de/suche/\\{@}
Query[zh_TW]=https://www.ardmediathek.de/suche/\\{@}
Type=Service
