[Desktop Entry]
Keys=backports
Name=Debian Backports Search
Query=http://packages.debian.org/search?suite=squeeze-backports&section=all&arch=any&searchon=names&keywords=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
