[Desktop Entry]
Type=Service
Name=Beolingus Online Dictionary
X-KDE-ServiceTypes=SearchProvider
Keys=beo,beolingus
Query=http://dict.tu-chemnitz.de/dings.cgi?lang=de&service=deen&opterrors=0&optpro=0&query=\\{@}&iservice=&comment=&email

