[Desktop Entry]
Keys=bug,bugno,bugnr
Name=KDE Bug Database Bug Number Search
Query=https://bugs.kde.org/show_bug.cgi?id=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
