[Desktop Entry]
Charset=
Hidden=false
Keys=qrz,call
Name=QRZ.com Callsign Database
Query=http://www.qrz.com/db/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
