[Desktop Entry]
Type=Service
Name=Can I Use…
Name[ar]=هل يمكن استخدام…
Name[ca]=Can I Use…
Name[es]=Can I Use...
Name[eu]=Erabil dezaket...
Name[he]=אפשר להשתמש ב… (Can I Use)
Name[ia]=Io pote usar (Can I Use) ...
Name[ka]=შემიძლია, გამოვიყენო…
Name[nl]=Kan ik gebruiken…
Name[sl]=Ali lahko uporabim…
Name[sv]=Can I Use…
Name[tr]=Can I Use…
Name[uk]=Can I Use…
Name[x-test]=xxCan I Use…xx
Keys=caniuse,ciu,cius
Query=https://caniuse.com/?search=\\{@}
Query[ar]=https://caniuse.com/?search=\\{@}
Query[ca]=https://caniuse.com/?search=\\{@}
Query[es]=https://caniuse.com/?search=\\{@}
Query[eu]=https://caniuse.com/?search=\\{@}
Query[he]=https://caniuse.com/?search=\\{@}
Query[ia]=https://caniuse.com/?search=\\{@}
Query[ka]=https://caniuse.com/?search=\\{@}
Query[nl]=https://caniuse.com/?search=\\{@}
Query[sl]=https://caniuse.com/?search=\\{@}
Query[sv]=https://caniuse.com/?search=\\{@}
Query[tr]=https://caniuse.com/?search=\\{@}
Query[uk]=https://caniuse.com/?search=\\{@}
Query[x-test]=xxhttps://caniuse.com/?search=\\{@}xx
Charset=utf8
