[Desktop Entry]
Type=Service
Name=Can I Use…
Name[ar]=هل يمكن استخدام…
Name[bg]=Може ли да използвам…
Name[ca]=Can I Use…
Name[ca@valencia]=Can I Use…
Name[de]=Funktionstest
Name[eo]=Ĉu Mi Povas Uzi…
Name[es]=Can I Use…
Name[eu]=Erabil dezaket...
Name[fi]=Voinko käyttää…
Name[fr]=Puis-je utiliser...
Name[gl]=Podo usar…
Name[he]=אפשר להשתמש ב… (Can I Use)
Name[ia]=Io pote usar (Can I Use) ...
Name[it]=Posso usare…
Name[ka]=შემიძლია, გამოვიყენო…
Name[ko]=Can I Use…
Name[lg]=Nkozese...
Name[lv]=Can I Use…
Name[nb]=Can I Use…
Name[nl]=Kan ik gebruiken…
Name[pl]=Czy mogę użyć…
Name[pt_BR]=Can i use...
Name[ru]=Можно ли использовать…
Name[sl]=Ali lahko uporabim…
Name[sv]=Can I Use…
Name[th]=Can I Use…
Name[tr]=Can I Use…
Name[uk]=Can I Use…
Name[x-test]=xxCan I Use…xx
Name[zh_CN]=Can I Use…
Name[zh_TW]=Can I Use…
Keys=caniuse,ciu,cius
Query=https://caniuse.com/?search=\\{@}
Query[ar]=https://caniuse.com/?search=\\{@}
Query[bg]=https://caniuse.com/?search=\\{@}
Query[ca]=https://caniuse.com/?search=\\{@}
Query[ca@valencia]=https://caniuse.com/?search=\\{@}
Query[de]=https://caniuse.com/?search=\\{@}
Query[eo]=https://caniuse.com/?search=\\{@}
Query[es]=https://caniuse.com/?search=\\{@}
Query[eu]=https://caniuse.com/?search=\\{@}
Query[fi]=https://caniuse.com/?search=\\{@}
Query[fr]=https://caniuse.com/?search=\\{@}
Query[gl]=https://caniuse.com/?search=\\{@}
Query[he]=https://caniuse.com/?search=\\{@}
Query[ia]=https://caniuse.com/?search=\\{@}
Query[it]=https://caniuse.com/?search=\\{@}
Query[ka]=https://caniuse.com/?search=\\{@}
Query[ko]=https://caniuse.com/?search=\\{@}
Query[lg]=https://caniuse.com/?search=\\{@}
Query[lv]=https://caniuse.com/?search=\\{@}
Query[nb]=https://caniuse.com/?search=\\{@}
Query[nl]=https://caniuse.com/?search=\\{@}
Query[pl]=https://caniuse.com/?search=\\{@}
Query[pt_BR]=https://caniuse.com/?search=\\{@}
Query[ru]=https://caniuse.com/?search=\\{@}
Query[sl]=https://caniuse.com/?search=\\{@}
Query[sv]=https://caniuse.com/?search=\\{@}
Query[th]=https://caniuse.com/?search=\\{@}
Query[tr]=https://caniuse.com/?search=\\{@}
Query[uk]=https://caniuse.com/?search=\\{@}
Query[x-test]=xxhttps://caniuse.com/?search=\\{@}xx
Query[zh_CN]=https://caniuse.com/?search=\\{@}
Query[zh_TW]=https://caniuse.com/?search=\\{@}
Charset=utf8
