[Desktop Entry]
Hidden=false
Keys=cia
Name=CIA World Fact Book
Query=https://www.cia.gov/search?q=\\{@}&site=WORLD_FACTBOOK&btnG=Search&client=CIA&myAction=/search&proxystylesheet=CIA&submitMethod=get&oe=UTF-8&ie=UTF-8&ud=1
X-KDE-ServiceTypes=SearchProvider
Type=Service
