[Desktop Entry]
Charset=
Hidden=false
Keys=cite,cs
Name=CiteSeer: Scientific Literature Digital Library
Query=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
X-KDE-ServiceTypes=SearchProvider
Type=Service
