[Desktop Entry]
Charset=
Hidden=false
Keys=codeberg,cb
Name=Codeberg
Query=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Type=Service
