[Desktop Entry]
Charset=
Hidden=false
Keys=codeberg,cb
Name=Codeberg
Name[ca]=Codeberg
Name[eo]=Codeberg
Name[es]=Codeberg
Name[eu]=Codeberg
Name[fr]=Codeberg
Name[he]=Codeberg
Name[ia]=Codeberg
Name[ka]=Codeberg
Name[nl]=Codeberg
Name[sl]=Codeberg
Name[tr]=Codeberg
Name[uk]=Codeberg
Name[x-test]=xxCodebergxx
Query=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[ca]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[eo]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[es]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[eu]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[fr]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[he]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[ia]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[ka]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[nl]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[sl]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[tr]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[uk]=https://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=true
Query[x-test]=xxhttps://codeberg.org/explore/repos?sort=recentupdate&language=&q=\\{@}&only_show_relevant=truexx
Type=Service
