[Desktop Entry]
Keys=cpan
Name=CPAN - Comprehensive Perl Archive Network
Query=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
X-KDE-ServiceTypes=SearchProvider
Type=Service
