[Desktop Entry]
Name=CPlusPlus
Name[ca]=CPlusPlus
Name[es]=CPlusPlus
Name[fr]=CPlusPlus
Name[ia]=CPlusPlus
Name[it]=CPlusPlus
Name[nl]=CPlusPlus
Name[pt_BR]=CPlusPlus
Name[sl]=CPlusPlus
Name[sv]=C++
Name[uk]=CPlusPlus
Name[x-test]=xxCPlusPlusxx
Type=Service
Keys=cplusplus
Query=http://cplusplus.com/search.do?q=\\{@}
Query[ca]=http://cplusplus.com/search.do?q=\\{@}
Query[es]=http://cplusplus.com/search.do?q=\\{@}
Query[fr]=http://cplusplus.com/search.do?q=\\{@}
Query[ia]=http://cplusplus.com/search.do?q=\\{@}
Query[it]=http://cplusplus.com/search.do?q=\\{@}
Query[nl]=http://cplusplus.com/search.do?q=\\{@}
Query[pt_BR]=http://cplusplus.com/search.do?q=\\{@}
Query[sl]=http://cplusplus.com/search.do?q=\\{@}
Query[sv]=http://cplusplus.com/search.do?q=\\{@}
Query[uk]=http://cplusplus.com/search.do?q=\\{@}
Query[x-test]=xxhttp://cplusplus.com/search.do?q=\\{@}xx
