[Desktop Entry]
Name=CPP Reference
Name[ca]=Referència del CPP
Name[es]=Referencia de CPP
Name[fr]=Manuel de référence de « CPP »
Name[ia]=Referentia de CPP
Name[it]=Manuale di riferimento CPP
Name[nl]=CPP-referentie
Name[pt_BR]=Referência do CPP
Name[sl]=Referenčni priročnik za CPP
Name[sv]=C++ referens
Name[uk]=Довідник з C++
Name[x-test]=xxCPP Referencexx
Type=Service
Keys=cppreference,cppref,cpp
Query=https://cppreference.com/w/?search=\\{@}
Query[ca]=https://cppreference.com/w/?search=\\{@}
Query[es]=https://cppreference.com/w/?search=\\{@}
Query[fr]=https://cppreference.com/w/?search=\\{@}
Query[ia]=https://cppreference.com/w/?search=\\{@}
Query[it]=https://cppreference.com/w/?search=\\{@}
Query[nl]=https://cppreference.com/w/?search=\\{@}
Query[pt_BR]=https://cppreference.com/w/?search=\\{@}
Query[sl]=https://cppreference.com/w/?search=\\{@}
Query[sv]=https://cppreference.com/w/?search=\\{@}
Query[uk]=https://cppreference.com/w/?search=\\{@}
Query[x-test]=xxhttps://cppreference.com/w/?search=\\{@}xx
