[Desktop Entry]
Name=CPP Reference
Name[ar]=CPP Reference
Name[az]=CPP keçidi
Name[be]=CPP Reference
Name[be@latin]=CPP Reference
Name[bg]=CPP Reference
Name[bs]=CPP Referenca
Name[ca]=Referència del CPP
Name[ca@valencia]=Referència de CPP
Name[cs]=CPP Reference
Name[cy]=Cyfeirdeb CPP
Name[da]=CPP reference
Name[de]=CPP-Reference
Name[el]=Εγχειρίδιο αναφοράς CPP
Name[en_GB]=CPP Reference
Name[eo]=CPP-Referenco
Name[es]=Referencia de CPP
Name[et]=CPP Reference
Name[eu]=CPP erreferentzia
Name[fa]=مرجع سی++
Name[fi]=CPP Reference
Name[fr]=Manuel de référence de « CPP »
Name[gl]=CPP Reference
Name[he]=CPP Reference
Name[hu]=CPP Reference
Name[ia]=Referentia de CPP
Name[id]=CPP Reference
Name[ie]=CPP Reference
Name[is]=CPP Reference
Name[it]=Manuale di riferimento CPP
Name[ka]=CPP მიმართვა
Name[ko]=CPP Reference
Name[lg]=CPP Reference
Name[lt]=CPP rodyklė
Name[lv]=CPP atsauce
Name[my]=စီပီပီ အကိုးအကား
Name[nb]=CPP-referanse
Name[nl]=CPP-referentie
Name[nn]=CPP-referanse
Name[pa]=CPP ਰੈਫ਼ਰੈਂਸ
Name[pl]=Podręcznik CPP
Name[pt]=Referência do CPP
Name[pt_BR]=Referência do CPP
Name[ro]=Referință CPP
Name[ru]=Руководство по CPP
Name[sa]=CPP Reference
Name[sk]=Referenčná príručka CPP
Name[sl]=Referenčni priročnik za CPP
Name[sq]=Referencë CPP
Name[sv]=C++ referens
Name[th]=คู่มืออ้างอิง C++
Name[tr]=CPP Başvuru
Name[uk]=Довідник з C++
Name[vi]=CPP Reference
Name[x-test]=xxCPP Referencexx
Name[zh_CN]=CPP 参考
Name[zh_TW]=CPP Reference
Type=Service
Keys=cppreference,cppref,cpp
Query=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ar]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[bg]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ca]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ca@valencia]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[es]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[eu]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[fr]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[gl]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[he]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}&t=kde&kl=he
Query[it]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ka]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ko]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[nl]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[pl]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[pt_BR]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[ru]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[sl]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[sv]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[tr]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[uk]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[x-test]=xxhttps://duckduckgo.com/?sites=cppreference.com&q=\\{@}xx
Query[zh_CN]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
Query[zh_TW]=https://duckduckgo.com/?sites=cppreference.com&q=\\{@}
