[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Query=http://ctan.org/search?phrase=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
