[Desktop Entry]
Keys=ctan_cat
Name=CTAN Catalog
Query=http://tug.ctan.org/cgi-bin/search.py?metadataSearch=\\{@}&metadataSearchSubmit=Search
X-KDE-ServiceTypes=SearchProvider
Type=Service
