[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=dict.cc Translation: German to English
Query=http://www.dict.cc/?s=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
