[Desktop Entry]
Type=Service
Name=LEO - Translate Between German and French
X-KDE-ServiceTypes=SearchProvider
Keys=de2fr
Query=http://dict.leo.org/?lp=frde&search=\\{@}
