[Desktop Entry]
Type=Service
Name=CNRTL/TILF French dictionary
X-KDE-ServiceTypes=SearchProvider
Keys=dictfr
Query=http://www.cnrtl.fr/definition/\\{@}
