[Desktop Entry]
Type=Service
Name=Open Directory
X-KDE-ServiceTypes=SearchProvider
Keys=dmoz,odp
Query=http://search.dmoz.org/cgi-bin/search?search=\\{@}
