[Desktop Entry]
Type=Service
Name=Docker Hub
Name[ar]=مجمع دوكر
Name[bg]=Docker Hub
Name[ca]=Docker Hub
Name[ca@valencia]=Docker Hub
Name[de]=Docker
Name[eo]=Doker-Nabo
Name[es]=Docker Hub
Name[eu]=Docker Hub
Name[fi]=Docker Hub
Name[fr]=Centre de Docker
Name[gl]=Docker Hub
Name[he]=Docker Hub
Name[ia]=Docker Hub
Name[it]=Docker Hub
Name[ka]=Docker Hub
Name[ko]=Docker Hub
Name[lg]=Docker Hub
Name[lv]=„Docker“ centrs
Name[nb]=Docker Hub
Name[nl]=Docker-hub
Name[pl]=Docker Hub
Name[pt_BR]=Docker Hub
Name[ru]=Репозиторий Docker Hub
Name[sl]=Docker Hub
Name[sv]=Docker Hub
Name[th]=Docker Hub
Name[tr]=Docker Hub
Name[uk]=Docker Hub
Name[x-test]=xxDocker Hubxx
Name[zh_CN]=Docker Hub
Name[zh_TW]=Docker Hub
Keys=docker,dockerhub,dh,dk,dhub,dkstore
Query=https://hub.docker.com/search?q=\\{@}
Query[ar]=https://hub.docker.com/search?q=\\{@}
Query[bg]=https://hub.docker.com/search?q=\\{@}
Query[ca]=https://hub.docker.com/search?q=\\{@}
Query[ca@valencia]=https://hub.docker.com/search?q=\\{@}
Query[de]=https://hub.docker.com/search?q=\\{@}
Query[eo]=https://hub.docker.com/search?q=\\{@}
Query[es]=https://hub.docker.com/search?q=\\{@}
Query[eu]=https://hub.docker.com/search?q=\\{@}
Query[fi]=https://hub.docker.com/search?q=\\{@}
Query[fr]=https://hub.docker.com/search?q=\\{@}
Query[gl]=https://hub.docker.com/search?q=\\{@}
Query[he]=https://hub.docker.com/search?q=\\{@}
Query[ia]=https://hub.docker.com/search?q=\\{@}
Query[it]=https://hub.docker.com/search?q=\\{@}
Query[ka]=https://hub.docker.com/search?q=\\{@}
Query[ko]=https://hub.docker.com/search?q=\\{@}
Query[lg]=https://hub.docker.com/search?q=\\{@}
Query[lv]=https://hub.docker.com/search?q=\\{@}
Query[nb]=https://hub.docker.com/search?q=\\{@}
Query[nl]=https://hub.docker.com/search?q=\\{@}
Query[pl]=https://hub.docker.com/search?q=\\{@}
Query[pt_BR]=https://hub.docker.com/search?q=\\{@}
Query[ru]=https://hub.docker.com/search?q=\\{@}
Query[sl]=https://hub.docker.com/search?q=\\{@}
Query[sv]=https://hub.docker.com/search?q=\\{@}
Query[th]=https://hub.docker.com/search?q=\\{@}
Query[tr]=https://hub.docker.com/search?q=\\{@}
Query[uk]=https://hub.docker.com/search?q=\\{@}
Query[x-test]=xxhttps://hub.docker.com/search?q=\\{@}xx
Query[zh_CN]=https://hub.docker.com/search?q=\\{@}
Query[zh_TW]=https://hub.docker.com/search?q=\\{@}
Charset=utf8
