[Desktop Entry]
Charset=
Hidden=false
Keys=doi
Name=Digital Object Identifier
Query=http://dx.doi.org/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
