[Desktop Entry]
Charset=
Hidden=false
Keys=duckduckgoshopping,dds,dukgoshop
Name=Duck Duck Go Shopping
Query=https://duckduckgo.com/?q=\\{@}&v=s&t=kde
ServiceTypes=SearchProvider
Type=Service
