[Desktop Entry]
Charset=
Hidden=false
Keys=duckduckgo,dd,d,dukgo,ddg
Name=DuckDuckGo
Name[ar]=دك دك جو
Name[bg]=DuckDuckGo
Name[ca]=DuckDuckGo
Name[ca@valencia]=DuckDuckGo
Name[cs]=DuckDuckGo
Name[eo]=DuckDuckGo
Name[es]=DuckDuckGo
Name[eu]=DuckDuckGo
Name[fi]=DuckDuckGo
Name[fr]=DuckDuckGo
Name[gl]=DuckDuckGo
Name[he]=DuckDuckGo
Name[ia]=DuckDuckGo
Name[it]=DuckDuckGo
Name[ka]=DuckDuckGo
Name[ko]=DuckDuckGo
Name[lg]=DuckDuckGo
Name[lv]=DuckDuckGo
Name[nb]=DuckDuckGo
Name[nl]=DuckDuckGo
Name[pl]=DuckDuckGo
Name[pt_BR]=DuckDuckGo
Name[ru]=Поиск Duck Duck Go
Name[sl]=DuckDuckGo
Name[sv]=DuckDuckGo
Name[th]=DuckDuckGo
Name[tr]=DuckDuckGo
Name[uk]=DuckDuckGo
Name[x-test]=xxDuckDuckGoxx
Name[zh_CN]=DuckDuckGo
Name[zh_TW]=DuckDuckGo
Query=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ar]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[az]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[be]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[be@latin]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[bg]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[bs]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ca]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ca@valencia]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[cs]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[cy]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[da]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[de]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[el]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[en_GB]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[eo]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[es]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[et]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[eu]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[fa]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[fi]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[fr]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[gd]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[gl]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[he]=https://duckduckgo.com/?q=\\{@}&t=kde&kl=he
Query[hi]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[hu]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ia]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[id]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ie]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[is]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[it]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ka]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[kk]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ko]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[lg]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[lt]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[lv]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[mr]=http://duckduckgo.com/?q=\\{@}&t=kde
Query[my]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[nb]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[nds]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[nl]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[nn]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[pa]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[pl]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[pt]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[pt_BR]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ro]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ru]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sa]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sk]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sl]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sq]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sr]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sr@ijekavian]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sr@ijekavianlatin]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sr@latin]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[sv]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[tg]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[th]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[tok]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[tr]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[ug]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[uk]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[vi]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[wa]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[x-test]=xxhttps://duckduckgo.com/?q=\\{@}&t=kdexx
Query[zh_CN]=https://duckduckgo.com/?q=\\{@}&t=kde
Query[zh_TW]=https://duckduckgo.com/?q=\\{@}&t=kde
Type=Service
