[Desktop Entry]
Charset=
Hidden=false
Keys=duckduckgo,dd,dukgo
Name=Duck Duck Go
Query=https://duckduckgo.com/?q=\\{@}&t=kde
ServiceTypes=SearchProvider
Type=Service
