[Desktop Entry]
Charset=
Hidden=false
Keys=duckduckgoinfo,ddi
Name=Duck Duck Go Info
Query=https://duckduckgo.com/?q=\\{@}&v=r&t=kde
ServiceTypes=SearchProvider
Type=Service
