[Desktop Entry]
Type=Service
Name=Ecosia search engine
X-KDE-ServiceTypes=SearchProvider
Keys=ec
Query=http://ecosia.org/search.php?q=\\{@}&meta=normal
