[Desktop Entry]
Charset=
Hidden=false
Keys=en2de
Name=dict.cc Translation: English to German
Query=http://www.dict.cc/?s=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
