[Desktop Entry]
Charset=
Hidden=false
Keys=en2es
Name=WordReference.com Translation: English to Spanish
Query=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
