[Desktop Entry]
Charset=
Hidden=false
Keys=en2fr
Name=WordReference.com Translation: English to French
Query=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
