[Desktop Entry]
Charset=
Hidden=false
Keys=facebook,face,fb
Name=Facebook
Query=https://www.facebook.com/search/?q=\\{@}&init=quick
ServiceTypes=SearchProvider
Type=Service
