[Desktop Entry]
Type=Service
Name=Feedster
X-KDE-ServiceTypes=SearchProvider
Keys=blog,rss,feedster
Query=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Charset=utf8
