[Desktop Entry]
Charset=
Name=Flathub
Name[ar]=Flathub
Name[ca]=Flathub
Name[ca@valencia]=Flathub
Name[es]=Flathub
Name[he]=Flathub
Name[ia]=Flathub
Name[is]=Flathub
Name[ka]=Flathub
Name[nl]=Flathub
Name[pt_BR]=Flathub
Name[sl]=Flathub
Name[tr]=Flathub
Name[uk]=Flathub
Type=Service
Keys=flathub,app
Query=https://flathub.org/apps/search?q=\\{@}
Query[ar]=https://flathub.org/apps/search?q=\\{@}
Query[ca]=https://flathub.org/apps/search?q=\\{@}
Query[ca@valencia]=https://flathub.org/apps/search?q=\\{@}
Query[es]=https://flathub.org/apps/search?q=\\{@}
Query[he]=https://flathub.org/he/apps/search?q=\\{@} 
Query[ia]=https://flathub.org/apps/search?q=\\{@}
Query[is]=https://flathub.org/apps/search?q=\\{@}
Query[ka]=https://flathub.org/apps/search?q=\\{@}
Query[nl]=https://flathub.org/apps/search?q=\\{@}
Query[pt_BR]=https://flathub.org/apps/search?q=\\{@}
Query[sl]=https://flathub.org/apps/search?q=\\{@}
Query[tr]=https://flathub.org/apps/search?q=\\{@}
Query[uk]=https://flathub.org/apps/search?q=\\{@}
