[Desktop Entry]
Charset=
Name=Flathub
Name[ar]=Flathub
Name[bg]=Flathub
Name[ca]=Flathub
Name[ca@valencia]=Flathub
Name[de]=Flathub
Name[es]=Flathub
Name[fr]=Flathub
Name[he]=Flathub
Name[ia]=Flathub
Name[is]=Flathub
Name[it]=Flathub
Name[ka]=Flathub
Name[ko]=Flathub
Name[lt]=Flathub
Name[nan_TW]=Flathub
Name[nan_TW@latin]=Flathub
Name[nl]=Flathub
Name[pt_BR]=Flathub
Name[sk]=Flathub
Name[sl]=Flathub
Name[tr]=Flathub
Name[uk]=Flathub
Name[zh_CN]=Flathub
Name[zh_TW]=Flathub
Type=Service
Keys=flathub,app
Query=https://flathub.org/apps/search?q=\\{@}
Query[ar]=https://flathub.org/apps/search?q=\\{@}
Query[bg]=https://flathub.org/apps/search?q=\\{@}
Query[ca]=https://flathub.org/apps/search?q=\\{@}
Query[ca@valencia]=https://flathub.org/apps/search?q=\\{@}
Query[de]=https://flathub.org/apps/search?q=\\{@}
Query[es]=https://flathub.org/apps/search?q=\\{@}
Query[fr]=https://flathub.org/apps/search?q=\\{@}
Query[he]=https://flathub.org/he/apps/search?q=\\{@} 
Query[ia]=https://flathub.org/apps/search?q=\\{@}
Query[is]=https://flathub.org/apps/search?q=\\{@}
Query[it]=https://flathub.org/apps/search?q=\\{@}
Query[ka]=https://flathub.org/apps/search?q=\\{@}
Query[ko]=https://flathub.org/apps/search?q=\\{@}
Query[lt]=https://flathub.org/apps/search?q=\\{@}
Query[nan_TW]=https://flathub.org/apps/search?q=\\{@}
Query[nan_TW@latin]=https://flathub.org/apps/search?q=\\{@}
Query[nl]=https://flathub.org/apps/search?q=\\{@}
Query[pt_BR]=https://flathub.org/apps/search?q=\\{@}
Query[sk]=https://flathub.org/apps/search?q=\\{@}
Query[sl]=https://flathub.org/apps/search?q=\\{@}
Query[tr]=https://flathub.org/apps/search?q=\\{@}
Query[uk]=https://flathub.org/apps/search?q=\\{@}
Query[zh_CN]=https://flathub.org/apps/search?q=\\{@}
Query[zh_TW]=https://flathub.org/apps/search?q=\\{@}
