[Desktop Entry]
Type=Service
Name=Free On-Line Dictionary of Computing
X-KDE-ServiceTypes=SearchProvider
Keys=fd,foldoc
Query=http://foldoc.org/\\{@}
