[Desktop Entry]
Charset=
Hidden=false
Keys=fr2en
Name=WordReference.com Translation: French to English
Query=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
