[Desktop Entry]
Type=Service
Name=FSF/UNESCO Free Software Directory
X-KDE-ServiceTypes=SearchProvider
Keys=fsd
Query=http://directory.fsf.org/search/?query=\\{@}


