[Desktop Entry]
Charset=
Hidden=false
Keys=github,gh
Name=GitHub
Query=https://github.com/search?q=\\{@}&x=0&y=0
ServiceTypes=SearchProvider
Type=Service
