[Desktop Entry]
Charset=
Hidden=false
Keys=gitorious,gt
Name=Gitorious
Query=https://gitorious.org/search?q=\\{@}&commit=Search
ServiceTypes=SearchProvider
Type=Service
