[Desktop Entry]
Charset=
Hidden=false
Keys=ggc,googlecode,ggcode
Name=Google Code
Query=https://code.google.com/query/#q=\\{%2520}
ServiceTypes=SearchProvider
Type=Service
