[Desktop Entry]
Type=Service
Name=Google Maps
X-KDE-ServiceTypes=SearchProvider
Keys=googlemaps,ggmaps,ggm
Query=https://maps.google.com/maps?q=\\{@}&ie=UTF8&iwloc=addr
