[Desktop Entry]
Type=Service
Name=Google News
X-KDE-ServiceTypes=SearchProvider
Keys=ggn,googlenews
Query=https://news.google.com/news?q=\\{@}&ie=UTF-8&oe=UTF-8
Charset=utf8
