[Desktop Entry]
Type=Service
Name=Google
X-KDE-ServiceTypes=SearchProvider
Keys=gg,google
Query=https://www.google.com/search?q=\\{@}&ie=UTF-8
Suggest=http://www.google.com/complete/search?q=\\{@}&output=toolbar
Charset=utf8
