[Desktop Entry]
Type=Service
Name=Google Groups
X-KDE-ServiceTypes=SearchProvider
Keys=ggg,groups,dj,deja
Query=https://groups.google.com/groups?oi=djq&as_q=\\{@}
