[Desktop Entry]
Type=Service
Name=Google Image Search
X-KDE-ServiceTypes=SearchProvider
Keys=ggi,images
Query=https://www.google.com/search?site=imghp&tbm=isch&q=\\{@}
