[Desktop Entry]
Type=Service
Name=Google (I'm Feeling Lucky)
X-KDE-ServiceTypes=SearchProvider
Keys=ggl,gglucky
Query=https://www.google.com/search?q=\\{@}&btnI=I%27m+Feeling+Lucky&ie=UTF-8&oe=UTF-8
Charset=utf8
