[Desktop Entry]
Type=Service
Name=Google Movies
X-KDE-ServiceTypes=SearchProvider
Keys=ggmovie
Query=http://www.google.com/search?q=\\{@}&ie=UTF-8&oe=UTF-8
Charset=utf8
