[Desktop Entry]
Charset=ISO-8859-15
Hidden=false
Keys=grec
Name=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Query=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
