[Desktop Entry]
Type=Service
Name=HyperDictionary.com
X-KDE-ServiceTypes=SearchProvider
Keys=hd,hyperdict
Query=http://www.hyperdictionary.com/search.aspx?define=\\{@}
