[Desktop Entry]
Type=Service
Name=HyperDictionary.com Thesaurus
X-KDE-ServiceTypes=SearchProvider
Keys=hdt,hd-ths,hd-thesaurus
Query=http://www.hyperdictionary.com/search.aspx?Dict=T&define=\\{@}
