[Desktop Entry]
Charset=iso 8859-15
Type=Service
Name=Internet Book List
X-KDE-ServiceTypes=SearchProvider
Keys=ibl
Query=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
