[Desktop Entry]
Charset=
Hidden=false
Keys=identicagroups,identig,identicag,idg
Name=Identi.ca Groups
Query=https://identi.ca/search/group?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
