[Desktop Entry]
Charset=
Hidden=false
Keys=identicanotices,identin,idn
Name=Identi.ca Notices
Query=https://identi.ca/search/notice?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
