[Desktop Entry]
Charset=
Hidden=false
Keys=identicapeople,identip,idp
Name=Identi.ca People
Query=https://identi.ca/search/people?q=\\{@}&search=Search
ServiceTypes=SearchProvider
Type=Service
