[Desktop Entry]
Keys=inventissues,invissues,issues,issue
Name=KDE Invent Issues
Name[ca]=Incidències de KDE Invent
Name[es]=Problemas de KDE Invent
Name[fr]=Problèmes de KDE Invent
Name[ia]=Questiones de KDE Invent
Name[it]=Issue su KDE Invent
Name[nl]=KDE-invent problemen
Name[sl]=Težave s KDE Invent
Name[sv]=KDE-Invent problemrapporter
Name[uk]=Вади на KDE Invent
Name[x-test]=xxKDE Invent Issuesxx
Query=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[ca]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[es]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[fr]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[ia]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[it]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[nl]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[pt_BR]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[sl]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[sv]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[uk]=https://invent.kde.org/search?scope=issues&search=\\{@}
Query[x-test]=xxhttps://invent.kde.org/search?scope=issues&search=\\{@}xx
Type=Service
