[Desktop Entry]
Keys=inventissues,invissues,issues,issue
Name=KDE Invent Issues
Query=https://invent.kde.org/search?scope=issues&search=\\{@}
Type=Service
