[Desktop Entry]
Charset=
Hidden=false
Keys=it2en
Name=WordReference.com Translation: Italian to English
Query=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
