[Desktop Entry]
Charset=
Hidden=false
Keys=jamendo,jmd
Name=Jamendo
Query=http://www.jamendo.com/en/search?qs=q=\\{@}
ServiceTypes=SearchProvider
Type=Service
