[Desktop Entry]
Type=Service
Name=Ask Jeeves
X-KDE-ServiceTypes=SearchProvider
Keys=ask,jeeves
Query=http://www.ask.com/main/askJeeves.asp?origin=0&qSource=4&site_name=Jeeves&metasearch=yes&ask=\\{@}
