[Desktop Entry]
Charset=
Hidden=false
Keys=kde
Icon=kde
Name=KDE API Documentation
Query=http://api.kde.org/classmapper.php?class=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
