[Desktop Entry]
Type=Service
Name=Plasma Add-Ons and Extensions
Name[ar]=امتدادات وملاحق بلازما
Name[bg]=Разширения и добавки на Plasma
Name[ca]=Complements i extensions del Plasma
Name[ca@valencia]=Complements i extensions de Plasma
Name[eo]=Plasma Aldonoj kaj Etendoj
Name[es]=Complementos y extensiones de Plasma
Name[eu]=Plasmaren gehigarriak eta hedapenak
Name[fi]=Plasma-lisäosat ja -laajennukset
Name[fr]=Modules complémentaires et extensions de Plasma
Name[gl]=Complementos e extensións de Plasma
Name[he]=תוספים והרחבות של פלזמה
Name[ia]=Add-Ons e Extensiones de Plasma
Name[it]=Componenti aggiuntivi ed estensioni di Plasma
Name[ka]=Plasma-ის დამატებები და გაფართოებები
Name[ko]=Plasma 확장 기능
Name[lg]=Ebyongerwako n'Ebyongezabusobozi ebya Plasma
Name[lv]=„Plasma“ pielikumi un paplašinājumi
Name[nb]=Plasma tillegg og utvidelser
Name[nl]=Plasma Add-ons en Extensies
Name[pl]=Dodatki i rozszerzenia do Plazmy
Name[pt_BR]=Adicionais e extensões do Plasma
Name[ru]=Дополнения и расширения Plasma
Name[sl]=Plasma dodatki in razširitve
Name[sv]=Plasma tillägg och utökningar
Name[th]=Plasma Add-Ons and Extensions
Name[tr]=Plasma Eklentileri ve Genişletmeleri
Name[uk]=Додатки і розширення Плазми
Name[x-test]=xxPlasma Add-Ons and Extensionsxx
Name[zh_CN]=Plasma 附加组件和扩展
Name[zh_TW]=Plasma 延伸元件與擴充功能
Keys=ext,extension
Query=https://store.kde.org/browse?tag=\\{@}
Query[ar]=https://store.kde.org/browse?tag=\\{@}
Query[bg]=https://store.kde.org/browse?tag=\\{@}
Query[ca]=https://store.kde.org/browse?tag=\\{@}
Query[ca@valencia]=https://store.kde.org/browse?tag=\\{@}
Query[eo]=https://store.kde.org/browse?tag=\\{@}
Query[es]=https://store.kde.org/browse?tag=\\{@}
Query[eu]=https://store.kde.org/browse?tag=\\{@}
Query[fi]=https://store.kde.org/browse?tag=\\{@}
Query[fr]=https://store.kde.org/browse?tag=\\{@}
Query[gl]=https://store.kde.org/browse?tag=\\{@}
Query[he]=https://store.kde.org/browse?tag=\\{@}
Query[ia]=https://store.kde.org/browse?tag=\\{@}
Query[it]=https://store.kde.org/browse?tag=\\{@}
Query[ka]=https://store.kde.org/browse?tag=\\{@}
Query[ko]=https://store.kde.org/browse?tag=\\{@}
Query[lg]=https://store.kde.org/browse?tag=\\{@}
Query[lv]=https://store.kde.org/browse?tag=\\{@}
Query[nb]=https://store.kde.org/browse?tag=\\{@}
Query[nl]=https://store.kde.org/browse?tag=\\{@}
Query[pl]=https://store.kde.org/browse?tag=\\{@}
Query[pt_BR]=https://store.kde.org/browse?tag=\\{@}
Query[ru]=https://store.kde.org/browse?tag=\\{@}
Query[sl]=https://store.kde.org/browse?tag=\\{@}
Query[sv]=https://store.kde.org/browse?tag=\\{@}
Query[th]=https://store.kde.org/browse?tag=\\{@}
Query[tr]=https://store.kde.org/browse?tag=\\{@}
Query[uk]=https://store.kde.org/browse?tag=\\{@}
Query[x-test]=xxhttps://store.kde.org/browse?tag=\\{@}xx
Query[zh_CN]=https://store.kde.org/browse?tag=\\{@}
Query[zh_TW]=https://store.kde.org/browse?tag=\\{@}
