[Desktop Entry]
Charset=
Hidden=false
Keys=kdeforums,kforum,kfrm
Name=KDE Forums
Query=https://forum.kde.org/search.php?keywords=\\{@}&terms=all&author=&tags=&sv=0&sc=1&sf=all&sr=posts&sk=t&sd=d&st=0&ch=300&countlimit=100&t=0&submit=Search
ServiceTypes=SearchProvider
Type=Service
