[Desktop Entry]
Charset=
Hidden=false
Keys=kdetechbase,techbase,tb
Name=KDE TechBase
Query=http://techbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
ServiceTypes=SearchProvider
Type=Service
