[Desktop Entry]
Name=Learn CPP
Name[ca]=Learn CPP
Name[es]=Aprenda CPP
Name[fr]=Apprenez le « CPP »
Name[ia]=Apprende CPP
Name[it]=Impara CPP
Name[nl]=CPP leren
Name[pt_BR]=Learn CPP
Name[sl]=Naučite se CPP
Name[sv]=Lär dig C++
Name[uk]=Learn CPP
Name[x-test]=xxLearn CPPxx
Type=Service
Keys=learncpp
Query=https://www.learncpp.com/gsearch/?q=\\{@}
Query[ca]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[es]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[fr]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[ia]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[it]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[nl]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[pt_BR]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[sl]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[sv]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[uk]=https://www.learncpp.com/gsearch/?q=\\{@}
Query[x-test]=xxhttps://www.learncpp.com/gsearch/?q=\\{@}xx
