[Desktop Entry]
Type=Service
Name=Mozilla Developer Network (MDN)
Name[ar]=شبكة مطوري موزيلا (MDN)
Name[bg]=Mozilla Developer Network (MDN)
Name[ca]=Xarxa de desenvolupador de Mozilla (MDN)
Name[ca@valencia]=Xarxa de desenvolupador de Mozilla (MDN)
Name[de]=Mozilla-Entwicklernetzwerk (MDN)
Name[eo]=Mozilla Developer Network (MDN)
Name[es]=Red del desarrollador de Mozilla (MDN)
Name[eu]=Mozilla Garatzaileen Sarea (MDN - Mozilla Developer Network)
Name[fi]=Microsoft Developer Network (MDN)
Name[fr]=Réseau des équipes de développement de Mozilla (MDN)
Name[gl]=Rede de desenvolvemento de Mozilla (MDN)
Name[he]=רשת המפתחים של Mozilla‏ (MDN)
Name[ia]=Mozilla Developer Network (MDN)
Name[it]=Mozilla Developer Network (MDN)
Name[ka]=Mozilla Developer Network (MDN)
Name[ko]=Mozilla 개발자 네트워크(MDN)
Name[lg]=Kifo Ky'abawandisi ba Puloguramu Ekya Mozilla (MDN)
Name[lv]=„Mozilla“ izstrādātāju tīkls (MDN)
Name[nb]=Mozilla Developer Network (MDN)
Name[nl]=Mozilla Developer Network (MDN)
Name[pl]=Mozilla Developer Network (MDN)
Name[pt_BR]=Rede de desenvolvedores Mozilla (MDN)
Name[ru]=Microsoft Developer Network (MDN)
Name[sl]=Mozilla Developer Network (MDN)
Name[sv]=Mozilla Developer Network (MDN)
Name[th]=Mozilla Developer Network (MDN)
Name[tr]=Mozilla Developer Network (MDN)
Name[uk]=Мережа розробників Mozilla (MDN)
Name[x-test]=xxMozilla Developer Network (MDN)xx
Name[zh_CN]=Mozilla 开发者网络 (MDN)
Name[zh_TW]=Mozilla 開發者文件 (MDN)
Keys=mdn
Query=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ar]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[bg]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ca]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ca@valencia]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[de]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[eo]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[es]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[eu]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[fi]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[fr]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[gl]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[he]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ia]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[it]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ka]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ko]=https://developer.mozilla.org/ko/search?q=\\{@}
Query[lg]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[lv]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[nb]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[nl]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[pl]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[pt_BR]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[ru]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[sl]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[sv]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[th]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[tr]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[uk]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[x-test]=xxhttps://developer.mozilla.org/en-US/search?q=\\{@}xx
Query[zh_CN]=https://developer.mozilla.org/en-US/search?q=\\{@}
Query[zh_TW]=https://developer.mozilla.org/zh-TW/search?q=\\{@}
Charset=utf8
