[Desktop Entry]
Type=Service
Name=MetaCrawler
X-KDE-ServiceTypes=SearchProvider
Keys=mc,meta,metacrawler
Query=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
