[Desktop Entry]
Name=Microsoft C++ Documentation
Name[ca]=Documentació de Microsoft C++
Name[es]=Documentación de C++ de Microsoft
Name[fr]=Documentation de Microsoft C++
Name[ia]=Documentation de Microsoft C++
Name[it]=Documentazione su C++ di Microsoft
Name[nl]=Microsoft C++ documentatie
Name[pt_BR]=Documentação C++ da Microsoft
Name[sl]=Dokumentacija za Microsoft C++
Name[sv]=Microsoft C++ dokumentation
Name[uk]=Документація з C++ Microsoft
Name[x-test]=xxMicrosoft C++ Documentationxx
Type=Service
Keys=microsoftcpp,mscpp
Query=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[ca]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[es]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[fr]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[ia]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[it]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[nl]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[pt_BR]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[sl]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[sv]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[uk]=https://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2B
Query[x-test]=xxhttps://docs.microsoft.com/search/?terms=\\{@}&scope=C%2B%2Bxx
