[Desktop Entry]
Type=Service
Name=Microsoft Developer Network Search
X-KDE-ServiceTypes=SearchProvider
Keys=msdn
Query=https://social.msdn.microsoft.com/Search/en-US?query=\\{@}
