[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between English and Russian
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mten
Query=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
