[Desktop Entry]
Name=Telephonebook Search Provider
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=telnl,telefoon
Query=http://www.detelefoongids.nl/\\{1}/\\{2}/10-1/?oWhat=\\{1}&oWhere=\\{2}
