[Desktop Entry]
Name=Teletekst Search Provider
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=tt,teletekst
Query=http://teletekst.nos.nl/gif/\\{@}-01.html
