[Desktop Entry]
Type=Service
Name=npm
Name[ar]=npm
Name[bg]=npm
Name[ca]=npm
Name[ca@valencia]=npm
Name[de]=npm
Name[eo]=npm
Name[es]=npm
Name[eu]=npm
Name[fi]=npm
Name[fr]=npm
Name[gl]=npm
Name[he]=npm
Name[ia]=npm
Name[it]=npm
Name[ka]=npm
Name[ko]=npm
Name[lg]=npm
Name[lv]=npm
Name[nb]=npm
Name[nl]=npm
Name[pl]=npm
Name[pt_BR]=npm
Name[ru]=npm
Name[sl]=npm
Name[sv]=npm
Name[th]=npm
Name[tr]=npm
Name[uk]=npm
Name[x-test]=xxnpmxx
Name[zh_CN]=npm
Name[zh_TW]=npm
Keys=npm,npmjs
Query=https://www.npmjs.com/search?q=\\{@}
Query[ar]=https://www.npmjs.com/search?q=\\{@}
Query[bg]=https://www.npmjs.com/search?q=\\{@}
Query[ca]=https://www.npmjs.com/search?q=\\{@}
Query[ca@valencia]=https://www.npmjs.com/search?q=\\{@}
Query[de]=https://www.npmjs.com/search?q=\\{@}
Query[eo]=https://www.npmjs.com/search?q=\\{@}
Query[es]=https://www.npmjs.com/search?q=\\{@}
Query[eu]=https://www.npmjs.com/search?q=\\{@}
Query[fi]=https://www.npmjs.com/search?q=\\{@}
Query[fr]=https://www.npmjs.com/search?q=\\{@}
Query[gl]=https://www.npmjs.com/search?q=\\{@}
Query[he]=https://www.npmjs.com/search?q=\\{@}
Query[ia]=https://www.npmjs.com/search?q=\\{@}
Query[it]=https://www.npmjs.com/search?q=\\{@}
Query[ka]=https://www.npmjs.com/search?q=\\{@}
Query[ko]=https://www.npmjs.com/search?q=\\{@}
Query[lg]=https://www.npmjs.com/search?q=\\{@}
Query[lv]=https://www.npmjs.com/search?q=\\{@}
Query[nb]=https://www.npmjs.com/search?q=\\{@}
Query[nl]=https://www.npmjs.com/search?q=\\{@}
Query[pl]=https://www.npmjs.com/search?q=\\{@}
Query[pt_BR]=https://www.npmjs.com/search?q=\\{@}
Query[ru]=https://www.npmjs.com/search?q=\\{@}
Query[sl]=https://www.npmjs.com/search?q=\\{@}
Query[sv]=https://www.npmjs.com/search?q=\\{@}
Query[th]=https://www.npmjs.com/search?q=\\{@}
Query[tr]=https://www.npmjs.com/search?q=\\{@}
Query[uk]=https://www.npmjs.com/search?q=\\{@}
Query[x-test]=xxhttps://www.npmjs.com/search?q=\\{@}xx
Query[zh_CN]=https://www.npmjs.com/search?q=\\{@}
Query[zh_TW]=https://www.npmjs.com/search?q=\\{@}
Charset=utf8
