[Desktop Entry]
Charset=
Keys=osm,openstreetmap
Name=OpenStreetMap
Name[ar]=OpenStreetMap
Name[bg]=OpenStreetMap
Name[ca]=OpenStreetMap
Name[ca@valencia]=OpenStreetMap
Name[cs]=OpenStreetMap
Name[es]=OpenStreetMap
Name[fr]=OpenStreetMap
Name[he]=OpenStreetMap
Name[ia]=OpenStreetMap
Name[is]=OpenStreetMap
Name[it]=OpenStreetMap
Name[ka]=OpenStreetMap
Name[ko]=오픈스트리트맵
Name[lt]=OpenStreetMap
Name[nl]=OpenStreetMap
Name[pt_BR]=OpenStreetMap
Name[sk]=OpenStreetMap
Name[sl]=OpenStreetMap
Name[tr]=OpenStreetMap
Name[ug]=OpenStreetMap ئوچۇق كوچا خەرىتىسى
Name[uk]=OpenStreetMap
Name[zh_CN]=OpenStreetMap
Name[zh_TW]=OpenStreetMap
Query=https://www.openstreetmap.org/search?query=\\{@}
Query[ar]=https://www.openstreetmap.org/search?query=\\{@}
Query[bg]=https://www.openstreetmap.org/search?query=\\{@}
Query[ca]=https://www.openstreetmap.org/search?query=\\{@}
Query[ca@valencia]=https://www.openstreetmap.org/search?query=\\{@}
Query[es]=https://www.openstreetmap.org/search?query=\\{@}
Query[fr]=https://www.openstreetmap.org/search?query=\\{@}
Query[he]=https://www.openstreetmap.org/search?query=\\{@}
Query[ia]=https://www.openstreetmap.org/search?query=\\{@}
Query[is]=https://www.openstreetmap.org/search?query=\\{@}
Query[it]=https://www.openstreetmap.org/search?query=\\{@}
Query[ka]=https://www.openstreetmap.org/search?query=\\{@}
Query[ko]=https://www.openstreetmap.org/search?query=\\{@}
Query[lt]=https://www.openstreetmap.org/search?query=\\{@}
Query[nl]=https://www.openstreetmap.org/search?query=\\{@}
Query[pt_BR]=https://www.openstreetmap.org/search?query=\\{@}
Query[sk]=https://www.openstreetmap.org/search?query=\\{@}
Query[sl]=https://www.openstreetmap.org/search?query=\\{@}
Query[tr]=https://www.openstreetmap.org/search?query=\\{@}
Query[uk]=https://www.openstreetmap.org/search?query=\\{@}
Query[zh_CN]=https://www.openstreetmap.org/search?query=\\{@}
Query[zh_TW]=https://www.openstreetmap.org/search?query=\\{@}
Type=Service
