[Desktop Entry]
Charset=
Hidden=false
Keys=opendesktop,odesk,od
Name=openDesktop.org
Query=http://www.opendesktop.org/content/search.php?search=Search&name=\\{@}
ServiceTypes=SearchProvider
Type=Service
