[Desktop Entry]
Name=openSUSE Software
Name[ca]=OpenSUSE Software
Name[es]=Software de OpenSUSE
Name[fr]=Logiciels OpenSUSE
Name[ia]=OpenSUSE Software
Name[it]=Software OpenSUSE
Name[nl]=OpenSUSE-software
Name[pt_BR]=Software do openSUSE
Name[sl]=Programska oprema OpenSUSE
Name[sv]=OpenSUSE-programvara
Name[uk]=Програмне забезпечення OpenSUSE
Name[x-test]=xxOpenSUSE Softwarexx
Type=Service
Keys=opensuse
Query=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[ca]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[es]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[fr]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[ia]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[it]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[nl]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[pt_BR]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[sl]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[sv]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[uk]=https://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}
Query[x-test]=xxhttps://software.opensuse.org/search?utf8=%E2%9C%93&q=\\{@}xx
