[Desktop Entry]
Keys=pgp,pgpkeys
Name=OpenPGP Key Search
Query=http://pgp.mit.edu:11371/pks/lookup?search=\\{@}&op=vindex
X-KDE-ServiceTypes=SearchProvider
Type=Service
