[Desktop Entry]
Name=ProtonDB
Name[ca]=ProtonDB
Name[es]=ProtonDB
Name[fr]=ProtonDB
Name[ia]=ProtonDB
Name[it]=ProtonDB
Name[nl]=ProtonDB
Name[pt_BR]=ProtonDB
Name[sl]=ProtonDB
Name[sv]=ProtonDB
Name[uk]=ProtonDB
Name[x-test]=xxProtonDBxx
Type=Service
Keys=protondb,proton
Query=https://www.protondb.com/search?q=\\{@}
Query[ca]=https://www.protondb.com/search?q=\\{@}
Query[es]=https://www.protondb.com/search?q=\\{@}
Query[fr]=https://www.protondb.com/search?q=\\{@}
Query[ia]=https://www.protondb.com/search?q=\\{@}
Query[it]=https://www.protondb.com/search?q=\\{@}
Query[nl]=https://www.protondb.com/search?q=\\{@}
Query[pt_BR]=https://www.protondb.com/search?q=\\{@}
Query[sl]=https://www.protondb.com/search?q=\\{@}
Query[sv]=https://www.protondb.com/search?q=\\{@}
Query[uk]=https://www.protondb.com/search?q=\\{@}
Query[x-test]=xxhttps://www.protondb.com/search?q=\\{@}xx
Icon=wine
