[Desktop Entry]
Charset=
Hidden=false
Keys=pypi
Name=PyPI
Name[ca]=PyPI
Name[eo]=PyPI
Name[es]=PyPI
Name[eu]=PyPI
Name[fr]=PyPI
Name[he]=PyPI
Name[ia]=PyPI
Name[ka]=PyPI
Name[nl]=PyPI
Name[pl]=PyPI
Name[sl]=PyPI
Name[tr]=PyPI
Name[uk]=PyPI
Name[x-test]=xxPyPIxx
Query=https://pypi.org/search/?q=\\{@}
Query[ca]=https://pypi.org/search/?q=\\{@}
Query[eo]=https://pypi.org/search/?q=\\{@}
Query[es]=https://pypi.org/search/?q=\\{@}
Query[eu]=https://pypi.org/search/?q=\\{@}
Query[fr]=https://pypi.org/search/?q=\\{@}
Query[he]=https://pypi.org/search/?q=\\{@}
Query[ia]=https://pypi.org/search/?q=\\{@}
Query[ka]=https://pypi.org/search/?q=\\{@}
Query[nl]=https://pypi.org/search/?q=\\{@}
Query[pl]=https://pypi.org/search/?q=\\{@}
Query[sl]=https://pypi.org/search/?q=\\{@}
Query[tr]=https://pypi.org/search/?q=\\{@}
Query[uk]=https://pypi.org/search/?q=\\{@}
Query[x-test]=xxhttps://pypi.org/search/?q=\\{@}xx
Type=Service
