[Desktop Entry]
Charset=
Hidden=false
Keys=py,python
Name=Python Reference Manual
Query=https://www.google.com/search?sourceid=python-search&q=\\{@}&submit=Search&q=site%3Apython.org
X-KDE-ServiceTypes=SearchProvider
Type=Service
