[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Query=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
