[Desktop Entry]
Charset=
Hidden=false
Keys=qt5
Name=Qt5 Online Documentation
Name[ca]=Documentació en línia de les Qt5
Name[es]=Documentación Qt5 en línea
Name[fr]=Documentation en ligne de Qt5
Name[ia]=Documentation de Qt in linea
Name[it]=Documentazione in linea di Qt5
Name[nl]=Qt5 online-documentatie
Name[pt_BR]=Documentação on-line do Qt5
Name[sl]=Spletna dokumentacija za Qt5
Name[sv]=Qt5-dokumentation på nätet
Name[uk]=Документація з Qt5 у мережі
Name[x-test]=xxQt5 Online Documentationxx
Query=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ar]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ast]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[az]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ca]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ca@valencia]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[cs]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[da]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[de]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[el]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[en_GB]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[es]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[et]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[eu]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[fi]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[fr]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[gl]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[hu]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ia]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[id]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[is]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[it]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ka]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ko]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[lt]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[my]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[nl]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[nn]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[pl]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[pt]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[pt_BR]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ro]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[ru]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sk]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sl]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sr]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sr@ijekavian]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sr@ijekavianlatin]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sr@latin]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[sv]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[tg]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[tok]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[uk]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[vi]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[x-test]=xxhttps://doc.qt.io/qt-5/search-results.html?q=\\{@}xx
Query[zh_CN]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Query[zh_TW]=https://doc.qt.io/qt-5/search-results.html?q=\\{@}
Type=Service
