[Desktop Entry]
Charset=
Hidden=false
Keys=qt6,qt
Name=Qt6 Online Documentation
Query=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Type=Service
