[Desktop Entry]
Charset=
Hidden=false
Keys=qt6,qt
Name=Qt6 Online Documentation
Name[ca]=Documentació en línia de les Qt6
Name[es]=Documentación Qt6 en línea
Name[fr]=Documentation en ligne de Qt6
Name[ia]=Documentation in linea de Qt6
Name[it]=Documentazione in linea di Qt6
Name[nl]=Qt6 online-documentatie
Name[pt_BR]=Documentação on-line do Qt6
Name[sl]=Spletna dokumentacija za Qt6
Name[sv]=Qt6-dokumentation på nätet
Name[uk]=Документація з Qt6 у мережі
Name[x-test]=xxQt6 Online Documentationxx
Query=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[ca]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[es]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[fr]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[ia]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[it]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[nl]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[pt_BR]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[sl]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[sv]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[uk]=https://doc.qt.io/qt-6/search-results.html?q=\\{@}
Query[x-test]=xxhttps://doc.qt.io/qt-6/search-results.html?q=\\{@}xx
Type=Service
