[Desktop Entry]
Keys=qw
Name=Qwant
Name[ast]=Qwant
Name[ca]=Qwant
Name[ca@valencia]=Qwant
Name[cs]=Qwant
Name[da]=Qwant
Name[de]=Qwant
Name[el]=Qwant
Name[en_GB]=Qwant
Name[es]=Qwant
Name[et]=Qwant
Name[eu]=Qwant
Name[fi]=Qwant
Name[fr]=Qwant
Name[gd]=Qwant
Name[gl]=Qwant
Name[hu]=Qwant
Name[ia]=Qwant
Name[id]=Qwant
Name[it]=Qwant
Name[ko]=Qwant
Name[lt]=Qwant
Name[mr]=क्वांट
Name[nb]=Qwant
Name[nds]=Qwant
Name[nl]=Qwant
Name[nn]=Qwant
Name[pl]=Qwant
Name[pt]=Qwant
Name[pt_BR]=Qwant
Name[ru]=Qwant
Name[sk]=Qwant
Name[sl]=Qwant
Name[sr]=Квант
Name[sr@ijekavian]=Квант
Name[sr@ijekavianlatin]=Qwant
Name[sr@latin]=Qwant
Name[sv]=Qwant
Name[tr]=Qwant
Name[uk]=Qwant
Name[x-test]=xxQwantxx
Name[zh_CN]=Qwant
Name[zh_TW]=Qwant
Query=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ast]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ca]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ca@valencia]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[cs]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[da]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[de]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[el]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[en_GB]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[eo]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[es]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[et]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[eu]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[fi]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[fr]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[gd]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[gl]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[hu]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ia]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[id]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[it]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ko]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[lt]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[mr]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[nb]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[nds]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[nl]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[nn]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[pl]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[pt]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[pt_BR]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[ru]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sk]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sl]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sr]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sr@ijekavian]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sr@ijekavianlatin]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sr@latin]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[sv]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[tr]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[uk]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[x-test]=xxhttps://www.qwant.com/?q=\\{@}&client=kde&source=webxx
Query[zh_CN]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
Query[zh_TW]=https://www.qwant.com/?q=\\{@}&client=kde&source=web
X-KDE-ServiceTypes=SearchProvider
Type=Service
