[Desktop Entry]
Keys=qwi
Name=Qwant Images
Name[ca]=Imatges a Qwant
Name[ca@valencia]=Imatges a Qwant
Name[cs]=Obrázky Qwant
Name[da]=Qwant Images
Name[de]=Qwant-Bilder
Name[el]=Qwant Εικόνες
Name[en_GB]=Qwant Images
Name[es]=Qwant Imágenes
Name[et]=Qwant Images
Name[eu]=Qwant Irudiak
Name[fi]=Qwant-kuvahaku
Name[fr]=Images « Qwant »
Name[gd]=Qwant Images
Name[gl]=Imaxes en Qwant
Name[hu]=Qwant képek
Name[ia]=Qwant Images
Name[id]=Qwant Gambar
Name[it]=Immagini di Qwant
Name[ko]=Qwant 그림
Name[lt]=Qwant paveikslėliai
Name[mr]=क्वांट प्रतिमा
Name[nb]=Qwant-bilder
Name[nds]=Qwant-Biller
Name[nl]=Qwant afbeeldingen
Name[nn]=Qwant bilete
Name[pl]=Qwant - obrazy
Name[pt]=Imagens do Qwant
Name[pt_BR]=Imagens do Qwant
Name[ru]=Qwant: Картинки
Name[sk]=Qwant obrázky
Name[sl]=Qwant - slike
Name[sr]=Квант-слике
Name[sr@ijekavian]=Квант-слике
Name[sr@ijekavianlatin]=Qwant-slike
Name[sr@latin]=Qwant-slike
Name[sv]=Qwant-bilder
Name[tr]=Qwant Resimleri
Name[uk]=Зображення Qwant
Name[x-test]=xxQwant Imagesxx
Name[zh_CN]=Qwant 图像
Name[zh_TW]=Qwant Images
Query=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ast]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ca]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ca@valencia]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[cs]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[da]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[de]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[el]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[en_GB]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[eo]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[es]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[et]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[eu]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[fi]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[fr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[gd]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[gl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[hu]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ia]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[id]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[it]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ko]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[lt]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[mr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[nb]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[nds]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[nl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[nn]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[pl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[pt]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[pt_BR]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[ru]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sr@ijekavian]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sr@ijekavianlatin]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sr@latin]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[sv]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[tr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[uk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[x-test]=xxhttps://www.qwant.com/single?q=\\{@}&client=kde&source=imagesxx
Query[zh_CN]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
Query[zh_TW]=https://www.qwant.com/single?q=\\{@}&client=kde&source=images
X-KDE-ServiceTypes=SearchProvider
Type=Service
