[Desktop Entry]
Keys=qwso
Name=Qwant Social
Name[ca]=Tertúlia a Qwant
Name[cs]=Qwant Social
Name[de]=Qwant-Sozial
Name[en_GB]=Qwant Social
Name[es]=Qwant Social
Name[fi]=Qwant Social
Name[fr]=Réseaux sociaux « Qwant »
Name[hu]=Qwant közösség
Name[id]=Qwant Sosial
Name[it]=Rete sociale di Qwant
Name[nb]=Qwant sosialt
Name[nds]=Qwant-Meenschap
Name[nl]=Qwant sociaal
Name[pl]=Qwant - społeczność
Name[pt]=Qwant Social
Name[pt_BR]=Qwant Social
Name[sk]=Qwant sociálne
Name[sl]=Qwant - družabno
Name[sr]=Квант-дружење
Name[sr@ijekavian]=Квант-дружење
Name[sr@ijekavianlatin]=Qwant-druženje
Name[sr@latin]=Qwant-druženje
Name[sv]=Qwant-social
Name[tr]=Qwant Sosyal
Name[uk]=Соціальне Qwant
Name[x-test]=xxQwant Socialxx
Name[zh_TW]=Qwant Social
Query=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[ca]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[cs]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[de]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[en_GB]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[es]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[fi]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[fr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[hu]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[id]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[it]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[nb]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[nds]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[nl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[pl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[pt]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[pt_BR]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sl]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sr@ijekavian]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sr@ijekavianlatin]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sr@latin]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[sv]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[tr]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[uk]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
Query[x-test]=xxhttps://www.qwant.com/single?q=\\{@}&client=kde&source=socialxx
Query[zh_TW]=https://www.qwant.com/single?q=\\{@}&client=kde&source=social
X-KDE-ServiceTypes=SearchProvider
Type=Service
