[Desktop Entry]
Charset=
Hidden=false
Keys=rae
Name=Dictionary of the Spanish Academy (RAE)
Query=http://www.rae.es/drae/?val=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
