[Desktop Entry]
Name=Reddit
Name[ca]=Reddit
Name[es]=Reddit
Name[fr]=Reddit
Name[ia]=Reddit
Name[it]=Reddit
Name[nl]=Reddit
Name[pt_BR]=Reddit
Name[sl]=Reddit
Name[sv]=Reddit
Name[uk]=Reddit
Name[x-test]=xxRedditxx
Type=Service
Keys=reddit
Query=https://www.reddit.com/search/?q=\\{@}
Query[ca]=https://www.reddit.com/search/?q=\\{@}
Query[es]=https://www.reddit.com/search/?q=\\{@}
Query[fr]=https://www.reddit.com/search/?q=\\{@}
Query[ia]=https://www.reddit.com/search/?q=\\{@}
Query[it]=https://www.reddit.com/search/?q=\\{@}
Query[nl]=https://www.reddit.com/search/?q=\\{@}
Query[pt_BR]=https://www.reddit.com/search/?q=\\{@}
Query[sl]=https://www.reddit.com/search/?q=\\{@}
Query[sv]=https://www.reddit.com/search/?q=\\{@}
Query[uk]=https://www.reddit.com/search/?q=\\{@}
Query[x-test]=xxhttps://www.reddit.com/search/?q=\\{@}xx
