[Desktop Entry]
Type=Service
Name=RPM-Find
X-KDE-ServiceTypes=SearchProvider
Keys=rf,rpmfind
Query=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
