[Desktop Entry]
Type=Service
Name=Ruby Application Archive
X-KDE-ServiceTypes=SearchProvider
Keys=raa
Query=http://www.ruby-lang.org/en/raa-list.rhtml?name=\\{@}
