[Desktop Entry]
Keys=sf,sourceforge
Name=SourceForge
Query=http://sourceforge.net/search/?type_of_search=\\{type,"soft"}&exact=\\{exact,"0"}&words=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
