[Desktop Entry]
Type=Service
Name=Technorati
X-KDE-ServiceTypes=SearchProvider
Keys=tr,technorati
Query=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Charset=utf8
