[Desktop Entry]
Name=Ubuntu Package Search
Name[ca]=Cerca paquets d'Ubuntu
Name[es]=Búsqueda de paquetes de Ubuntu
Name[fr]=Recherche de paquets pour Ubuntu
Name[ia]=Cerca de Pacchetto de Ubuntu
Name[it]=Ricerca di pacchetti Ubuntu
Name[nl]=Ubuntu pakket zoeken
Name[pt_BR]=Pesquisa de pacotes Ubuntu
Name[sl]=Iskanje po paketih Ubuntu
Name[sv]=Ubuntu-paketsökning
Name[uk]=Пошук пакунків Ubuntu
Name[x-test]=xxUbuntu Package Searchxx
Type=Service
Keys=ubuntu
Query=https://packages.ubuntu.com/\\{@}
Query[ca]=https://packages.ubuntu.com/\\{@}
Query[es]=https://packages.ubuntu.com/\\{@}
Query[fr]=https://packages.ubuntu.com/\\{@}
Query[ia]=https://packages.ubuntu.com/\\{@}
Query[it]=https://packages.ubuntu.com/\\{@}
Query[nl]=https://packages.ubuntu.com/\\{@}
Query[pt_BR]=https://packages.ubuntu.com/\\{@}
Query[sl]=https://packages.ubuntu.com/\\{@}
Query[sv]=https://packages.ubuntu.com/\\{@}
Query[uk]=https://packages.ubuntu.com/\\{@}
Query[x-test]=xxhttps://packages.ubuntu.com/\\{@}xx
