[Desktop Entry]
Type=Service
Name=Merriam-Webster Dictionary
X-KDE-ServiceTypes=SearchProvider
Keys=dict,webster
Query=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
