[Desktop Entry]
Charset=
Hidden=false
Keys=wikia,wka
Name=Wikia
Query=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
ServiceTypes=SearchProvider
Type=Service
