[Desktop Entry]
Type=Service
Icon=text-wiki
Name=Wikipedia
Name[ar]=ويكيبيديا
Name[bg]=Wikipedia
Name[ca]=Viquipèdia
Name[ca@valencia]=Viquipèdia
Name[cs]=Wikipedia
Name[eo]=Vikipedio
Name[es]=Wikipedia
Name[eu]=Wikipedia
Name[fi]=Wikipedia
Name[fr]=Wikipedia
Name[gl]=Wikipedia
Name[he]=ויקיפדיה
Name[ia]=Wikipedia
Name[it]=Wikipedia
Name[ka]=Wikipedia
Name[ko]=위키백과
Name[lg]=Wikipedia
Name[lv]=Vikipēdija
Name[nb]=Wikipedia
Name[nl]=Wikipedia
Name[pl]=Wikipedia
Name[pt_BR]=Wikipédia
Name[ru]=Википедия
Name[sl]=Wikipedia
Name[sv]=Wikipedia
Name[th]=Wikipedia
Name[tr]=Vikipedi
Name[uk]=Вікіпедія
Name[x-test]=xxWikipediaxx
Name[zh_CN]=维基百科
Name[zh_TW]=維基百科
Keys=wp
Query=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ar]=https://ar.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ast]=https://ast.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[az]=https://az.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[be]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[be@latin]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[bg]=https://bg.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[bs]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ca]=https://ca.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ca@valencia]=https://ca.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[cs]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[cy]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[da]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[de]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[el]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[en_GB]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[eo]=https://eo.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[es]=https://es.wikipedia.org/wiki/Especial:Buscar?search=\\{@}&go=Go
Query[et]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[eu]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[fa]=https://fa.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[fi]=https://fi.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[fr]=https://fr.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[gd]=https://gd.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[gl]=http://gl.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[he]=https://he.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[hi]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[hu]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ia]=http://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[id]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ie]=https://ie.wikipedia.org/wiki/Special:Serchar?search=\\{@}&go=Continuar
Query[is]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[it]=https://it.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ka]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[kk]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ko]=https://ko.wikipedia.org/wiki/특수:검색?search=\\{@}&go=Go
Query[lg]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[lt]=https://lt.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[lv]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[mr]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[my]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[nb]=https://no.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[nds]=https://nds.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[nl]=https://nl.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[nn]=https://nn.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[pa]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[pl]=https://pl.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[pt]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[pt_BR]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ro]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ru]=https://ru.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sa]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sk]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sl]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sq]=https://sq.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sr]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sr@ijekavian]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sr@ijekavianlatin]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sr@latin]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[sv]=https://sv.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[tg]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[th]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[tok]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[tr]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ug]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[uk]=https://uk.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[vi]=https://vi.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[wa]=https://wa.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Potch%C3%AE
Query[x-test]=xxhttps://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Goxx
Query[zh_CN]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[zh_TW]=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
