[Desktop Entry]
Type=Service
Name=Wikipedia - The Free Encyclopedia
X-KDE-ServiceTypes=SearchProvider
Keys=wp
Query=https://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
