[Desktop Entry]
Type=Service
Name=Wiktionary - The Free Dictionary
X-KDE-ServiceTypes=SearchProvider
Keys=wt,wikt
Query=https://en.wiktionary.org/wiki/Special:Search?search=\\{@}&go=Go
Charset=utf8
