[Desktop Entry]
Name=WineHQ Database
Name[ca]=Base de dades de WineHQ
Name[es]=Base de datos de WineHQ
Name[fr]=Base de données de WineHQ
Name[ia]=Base de Datos de WineHQ
Name[it]=Banca dati di WineHQ
Name[nl]=WineHQ-database
Name[pt_BR]=Banco de dados do WineHQ
Name[sl]=Podatkovna zbirka WineHQ
Name[sv]=WineHQ-databas
Name[uk]=База даних WineHQ
Name[x-test]=xxWineHQ Databasexx
Type=Service
Keys=winehq,wine
Query=https://www.winehq.org/search?q=\\{@}
Query[ca]=https://www.winehq.org/search?q=\\{@}
Query[es]=https://www.winehq.org/search?q=\\{@}
Query[fr]=https://www.winehq.org/search?q=\\{@}
Query[ia]=https://www.winehq.org/search?q=\\{@}
Query[it]=https://www.winehq.org/search?q=\\{@}
Query[nl]=https://www.winehq.org/search?q=\\{@}
Query[pt_BR]=https://www.winehq.org/search?q=\\{@}
Query[sl]=https://www.winehq.org/search?q=\\{@}
Query[sv]=https://www.winehq.org/search?q=\\{@}
Query[uk]=https://www.winehq.org/search?q=\\{@}
Query[x-test]=xxhttps://www.winehq.org/search?q=\\{@}xx
Icon=wine
