[Desktop Entry]
Charset=
Hidden=false
Keys=wordref
Name=WordReference.com English Dictionary
Query=http://www.wordreference.com/english/definition.asp?en=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
