[Desktop Entry]
Charset=
Hidden=false
Keys=yahooimage,yhi
Name=Yahoo Images
Query=http://images.search.yahoo.com/search/images;_ylt=A0geuy0K6JZLsVkB4m1XNyoA?ei=UTF-8&p=\\{@}&y=0&fr2=tab-web&fr=yfp-t-701
ServiceTypes=SearchProvider
Type=Service
