[Desktop Entry]
Charset=
Hidden=false
Keys=yahoolocal,yhl
Name=Yahoo Local
Query=http://local.yahoo.com/results?stx=\\{@}&ei=UTF-8&fr=yfp-t-701&fr2=tab-img
ServiceTypes=SearchProvider
Type=Service
