[Desktop Entry]
Charset=
Hidden=false
Keys=yahooshopping,yhs
Name=Yahoo Shopping
Query=http://shopping.yahoo.com/search;_ylt=A0SO8ZgG65ZLyX8AsLX7w8QF;_ylu=X3oDMTBpcjIxMDllBHNlYwN0YWJzBHZ0aWQDVjEwOQ--?cop=mss&ei=UTF-8&p=\\{@}&fr2=tab-video&fr=yfp-t-701
ServiceTypes=SearchProvider
Type=Service
