[Desktop Entry]
Charset=
Hidden=false
Keys=yahoo,yh
Name=Yahoo
Query=http://search.yahoo.com/search?toggle=1&cop=mss&ei=UTF-8&fr=yfp-t-701&p=\\{@}&x=0&y=0&=Web+Search
ServiceTypes=SearchProvider
Type=Service
