[Desktop Entry]
Keys=yt,youtube
Name=YouTube
Query=https://www.youtube.com/results?search_query=\\{@}&search_type=&aq=f
ServiceTypes=SearchProvider
Type=Service
Charset=utf8
