Name=Trash
Comment=This service allows configuration of the trash.

[Desktop Entry]
Icon=user-trash
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmtrash

X-KDE-Library=kcm_trash
X-KDE-PluginKeyword=trash
X-KDE-ParentApp=kcontrol

Name=Trash
Comment=Configure trash settings
X-KDE-Keywords=trash
X-DocPath=kcontrol/trash/index.html
