[Desktop Entry]
Type=Application
Exec=ktelnetservice %u
Icon=utilities-terminal
MimeType=x-scheme-handler/telnet;x-scheme-handler/rlogin;x-scheme-handler/ssh;

X-DocPath=kioslave/telnet/index.html
NoDisplay=true

Name=KTelnetService
Name[ar]=KTelnetService
Name[bg]=KTelnetService
Name[bs]=KTelnetService
Name[ca]=KTelnetService
Name[ca@valencia]=KTelnetService
Name[cs]=KTelnetService
Name[da]=KTelnetService
Name[de]=KTelnetService
Name[el]=Υπηρεσία KTelnet
Name[en_GB]=KTelnetService
Name[es]=KTelnetService
Name[et]=KTelnetService
Name[eu]=KTelnetService
Name[fi]=KTelnetService
Name[fr]=KTelnetService
Name[ga]=KTelnetService
Name[gl]=KTelnetService
Name[gu]=KTelnetસેવા
Name[he]=KTelnetService
Name[hi]=KTelnetService
Name[hr]=KTelnetService
Name[hu]=KTelnetService
Name[hy]=KTelnetService
Name[ia]=KTelnetService (Servicio de KTelnet)
Name[is]=KTelnetÞjónusta
Name[it]=KTelnetService
Name[ja]=KTelnetService
Name[kk]=KTelnetService
Name[km]=KTelnetService
Name[ko]=KTelnetService
Name[lt]=KTelnetTarnyba
Name[lv]=KTelnetService
Name[mr]=KTelnetService
Name[nb]=KTelnetService
Name[nds]=KTelnetService
Name[nl]=KTelnetService
Name[pa]=KTelnetService
Name[pl]=Usługa KTelnet
Name[pt]=KTelnetService
Name[pt_BR]=KTelnetService
Name[ro]=Serviciu KTelnet
Name[ru]=Служба telnet KTelnetService
Name[se]=KTelnetService
Name[si]=KTelnetService
Name[sk]=KTelnetService
Name[sl]=KTelnetService
Name[sr]=KMailService
Name[sr@ijekavian]=KMailService
Name[sr@ijekavianlatin]=KMailService
Name[sr@latin]=KMailService
Name[sv]=Ktelnet-tjänst
Name[tg]=Хадамоти KTelnetService
Name[th]=KTelnetService
Name[tr]=KTelnetService
Name[tt]=KTelnetService
Name[ug]=KTelnetService
Name[uk]=Служба telnet KTelnet
Name[vi]=KTelnetService
Name[wa]=KTelnetService
Name[x-test]=xxKTelnetServicexx
Name[zh_CN]=KTelnetService
Name[zh_TW]=KTelnet服務
