[Desktop Entry]
Type=Service
Name=LocalDomainFilter
X-KDE-Library=kf5/urifilters/localdomainurifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=2
