# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Name=KIO
Name[bg]=KIO
Name[ca]=KIO
Name[ca@valencia]=KIO
Name[en_GB]=KIO
Name[eo]=KIO
Name[es]=KIO
Name[fr]=KIO
Name[he]=KIO
Name[ia]=KIO
Name[it]=KIO
Name[ka]=KIO
Name[nl]=KIO
Name[sl]=KIO
Name[tr]=KIO
Name[uk]=KIO
Name[x-test]=xxKIOxx
Name[zh_CN]=KIO
Name[zh_TW]=KIO
NoDisplay=true
Icon=dialog-password
Exec=kiod6
