# SPDX-FileCopyrightText: none
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Name=KIO
Name[ar]=KIO
Name[bg]=KIO
Name[ca]=KIO
Name[ca@valencia]=KIO
Name[cs]=KIO
Name[da]=KIO
Name[de]=KIO
Name[el]=KIO
Name[en_GB]=KIO
Name[eo]=KIO
Name[es]=KIO
Name[eu]=KIO
Name[fr]=KIO
Name[gl]=KIO
Name[he]=KIO
Name[hu]=KIO
Name[ia]=KIO
Name[it]=KIO
Name[ka]=KIO
Name[ko]=KIO
Name[lt]=KIO
Name[nl]=KIO
Name[nn]=KIO
Name[pl]=KIO
Name[ro]=KIO
Name[ru]=KIO
Name[sl]=KIO
Name[sv]=KIO
Name[tr]=KIO
Name[uk]=KIO
Name[x-test]=xxKIOxx
Name[zh_CN]=KIO
Name[zh_TW]=KIO
NoDisplay=true
Icon=dialog-password
Exec=kiod6
