[Desktop Entry]
Type=Service
Name=Password Caching
Name[el]=Λανθάνουσας μνήμη κωδικού πρόσβασης
Name[es]=Caché de contraseñas
Name[nb]=Passordlagring
Name[nds]=Twischenspiekern vun Passwöör
Name[pt]='Cache' de Senhas
Name[pt_BR]=Cache de senhas
Name[sv]=Lösenordslagring
Name[th]=การจัดเก็บรหัสผ่าน
Name[uk]=Кешування паролів
Name[x-test]=xxPassword Cachingxx
Comment=Temporary password caching
Comment[el]=Προσωρινή λανθάνουσα μνήμη κωδικού πρόσβασης
Comment[es]=Cacheo temporal de contraseñas
Comment[nb]=Midlertidig mellomlagring av passord
Comment[pt]='Cache' temporária de senhas
Comment[pt_BR]=Cache temporária de senhas
Comment[sv]=Tillfällig lagring av lösenord
Comment[th]=การจัดเก็บรหัสผ่านชั่วคราว
Comment[uk]=Тимчасове кешування паролів
Comment[x-test]=xxTemporary password cachingxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kpasswdserver
X-KDE-DBus-ModuleName=kpasswdserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
