[Desktop Entry]
Type=Service
Name=Password Caching
Name[de]=Passwort-Zwischenspeicherung
Name[es]=Caché de contraseñas
Name[fi]=Salasanavälimuisti
Name[hu]=Jelszavak gyorsítótárazása
Name[nds]=Passwoort twischenspiekern
Name[nn]=Mellomlager for passord
Name[pl]=Przechowywanie haseł
Name[pt]='Cache' de Senhas
Name[pt_BR]=Cache de senhas
Name[sk]=Ukladanie hesiel do vyrovnávacej pamäte
Name[sv]=Lösenordslagring
Name[uk]=Кешування паролів
Name[x-test]=xxPassword Cachingxx
Comment=Temporary password caching
Comment[de]=Temporäre Passwort-Zwischenspeicherung
Comment[es]=Caché temporal de contraseñas
Comment[fi]=Väliaikainen salasanavälimuisti
Comment[hu]=Jelszavak ideiglenes gyorsítótárazása
Comment[nds]=Passwoort temporeer wohren
Comment[nn]=Mellombels lagring av passord
Comment[pl]=Tymczasowe przechowywanie haseł
Comment[pt]='Cache' temporária de senhas
Comment[pt_BR]=Cache temporária de senhas
Comment[sk]=Dočasné ukladanie hesiel do vyrovnávacej pamäte
Comment[sv]=Tillfällig lagring av lösenord
Comment[uk]=Тимчасове кешування паролів
Comment[x-test]=xxTemporary password cachingxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kpasswdserver
X-KDE-DBus-ModuleName=kpasswdserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
