[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDED Password Module
Name[af]=KDED Wagwoord Module
Name[ar]=وحدة كلمة سر KDED
Name[be]=Модуль захавання пароляў KDED
Name[br]=Mollad tremenger KDED
Name[ca]=Mòdul de contrasenya KDED
Name[cs]=KDED modul pro hesla
Name[csb]=Parole
Name[cy]=Modiwl Cyfrinair KDED
Name[da]=KDED-kodeordsmodul
Name[de]=Passwort-Zwischenspeicherung
Name[el]=Άρθρωμα κωδικού πρόσβασης του KDED
Name[eo]=KDED-pasvortmodulo
Name[es]=Módulo de contraseñas de KDED
Name[et]=KDED parooli moodul
Name[eu]=KDEDren pasahitz-modulua
Name[fa]=پیمانۀ اسم رمز KDED
Name[fi]=KDED-salasanamoduuli
Name[fr]=Module de mot de passe KDED
Name[fy]=KDED-wachtwurdmodule
Name[ga]=Modúl Fhocail Fhaire KDED
Name[gl]=Módulo de Contrasinais de KDED
Name[he]=מודול סיסמה של KDED
Name[hr]=KDED modul za lozinke
Name[hu]=Jelszókezelő
Name[is]=KDED Lykilorðaeining
Name[it]=Modulo password di KDED
Name[ja]=KDED パスワードモジュール
Name[kk]=KDED пароль модулі
Name[km]=ម៉ូឌុល​ពាក្យ​សម្ងាត់ KDED
Name[kn]=ಕೆಡಿಇಡಿ ಗುಪ್ತಪದ (ಪಾಸ್ ವರ್ಡ್) ಘಟಕ
Name[ko]=KDED 비밀번호 모듈
Name[lb]=KDED-Passwuertmodul
Name[lt]=KDED slaptažodžių modulis
Name[lv]=KDED paroļu modulis
Name[mk]=KDED модул за лозинка
Name[ms]=Modul Kata laluan KDED
Name[nb]=KDED-passordmodul
Name[nds]=KDED-Passwoortmoduul
Name[ne]=KDED पासवर्ड मोड्युल
Name[nl]=KDED-wachtwoordmodule
Name[nn]=KDED-passordmodul
Name[pa]=KDED ਪਾਸਵਰਡ ਮੋਡੀਊਲ
Name[pl]=Hasła
Name[pt]=Módulo de Senhas do KDED
Name[pt_BR]=Módulo de Senha do KDED
Name[ro]=Modul parolă KDED
Name[ru]=Служба паролей
Name[se]=KDED beassansátni-moduvla
Name[sl]=Geselni modul KDED
Name[sr]=КДЕД модул за лозинке
Name[sr@latin]=KDED modul za lozinke
Name[sv]=KDED-lösenordsmodul
Name[ta]=KDED கடவுச்சொல் பகுதி
Name[te]=కెడిఈ పాస్ వర్డ్ మాడ్యూల్
Name[tg]=KDED Модули номи шаб
Name[th]=โมดูลรหัสผ่าน KDED
Name[tr]=KDED Parola Modülü
Name[uk]=Модуль паролів KDED
Name[uz]=KDED махфий сўз модули
Name[vi]=Mô-đun mật khẩu KDED
Name[wa]=Module di screts po KDED
Name[x-test]=xxKDED Password Modulexx
Name[xh]=Igama lokugqitha le Sicatshulwa se KDED
Name[zh_CN]=KDED 密码模块
Name[zh_HK]=KDED 密碼模組
Name[zh_TW]=KDED 密碼模組
Comment=Password caching support
Comment[af]=Wagwoord kasberging ondersteuning
Comment[ar]=دعم تخبئة كلمة السر
Comment[be]=Падтрымка захоўвання пароляў
Comment[ca]=Permet l'ús de memòria cau de contrasenyes
Comment[cs]=Podpora pro kešování hesel
Comment[csb]=Spamiãtôwanié môlowëch parolów
Comment[da]=Understøttelse for caching af kodeord
Comment[de]=Verwaltet zwischengespeicherte Passwörter in KDE
Comment[el]=Υποστήριξη προσωρινής αποθήκευσης κωδικού πρόσβασης
Comment[eo]=Subteno de tenado de pasvortoj
Comment[es]=Soporte de caché de contraseñas
Comment[et]=Parooli meelespidamise toetus
Comment[eu]=Pasahitzen cachearen euskarria
Comment[fa]=پشتیبانی از مخفی کردن اسم رمز
Comment[fi]=Salasanojen välimuistituki
Comment[fr]=Gestion du cache des mots de passe
Comment[fy]=Wachtwurd caching stype
Comment[ga]=Tacaíocht le taisce focal faire
Comment[gl]=Soporte de cacheado de contrasinais
Comment[he]=תמיכה בשמירת סיסמאות במטמון
Comment[hr]=Podrška međuspremanja lozinki
Comment[hu]=Jelszóelmentési támogatás
Comment[is]=Skyndiminni fyrir lykilorð
Comment[it]=Supporto per la memorizzazione temporanea delle password
Comment[ja]=パスワードキャッシュサポート
Comment[kk]=KDE парольдерді басқару
Comment[km]=ការ​គាំទ្រ​ការ​រក្សាទុក​ពាក្យ​សម្ងាត់​ក្នុង​ឃ្លាំង​សម្ងាត់
Comment[kn]=ಗುಪ್ತಪದ (ಪಾಸ್ ವರ್ಡ್) ಸಿಧ್ಧಸ್ಮೃತೀಕರಣ (ಕಾಶಿಂಗ್) ಬೆಂಬಲ
Comment[ko]=비밀번호 캐시 지원
Comment[lb]=Ënnerstëtzung fir d'Zwëschespäichere vu Passwierder
Comment[lt]=Slaptažodžių krepšio palaikymas
Comment[lv]=Paroļu mainīšanas atbalsts
Comment[mk]=Поддршка за кеширање на лозинки
Comment[ms]=Sokongan Penyimpan Kata Laluan
Comment[nb]=Støtte for hurtiglagring av passord
Comment[nds]=Ünnerstütten för't Twischenspiekern vun Passwöör
Comment[ne]=पासवर्ड क्यासिङ समर्थन
Comment[nl]=Ondersteuning voor het tussentijds bewaren van wachtwoorden
Comment[nn]=Støtte for passordlagring
Comment[pa]=ਪਾਸਵਰਡ ਕੈਚੇਇੰਗ ਸਹਾਇਤਾ
Comment[pl]=Zapamiętywanie haseł lokalnych
Comment[pt]=Suporte à 'cache' das senhas
Comment[pt_BR]=Suporte para armazenamento de senhas
Comment[ro]=Suport pentru memorarea parolelor
Comment[ru]=Управление паролями KDE
Comment[se]=Beassansáni gaskarádjama doarjja
Comment[sl]=Podpora prepomnjenju gesel
Comment[sr]=Подршка за кеширање лозинки
Comment[sr@latin]=Podrška za keširanje lozinki
Comment[sv]=Stöd för lösenordscache
Comment[ta]=கடவுச்சொல் சேமிக்க ஆதரவு
Comment[te]=పాస్ వర్డులను దాయుటకు సహకరించును
Comment[tg]=Дастгирии Ҳофизаи Гузарвожа
Comment[th]=สนับสนุนการจดจำรหัสผ่าน
Comment[tr]=Parola önbellekleme desteği
Comment[uk]=Підтримка кешування паролів
Comment[uz]=Махфий сўзларни кэшда сақлаш
Comment[vi]=Cách hỗ trợ khả năng lưu tạm mật khẩu.
Comment[wa]=Sopoirt pol rimimbrance des screts
Comment[x-test]=xxPassword caching supportxx
Comment[zh_CN]=密码缓存支持
Comment[zh_HK]=密碼暫存支援
Comment[zh_TW]=密碼暫存(cache)支援
ServiceTypes=KDEDModule
X-KDE-Library=kpasswdserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
