[Desktop Entry]
Name=Empty File...
Name[ar]=ملفّ فارغ...
Name[az]=Boş fayl...
Name[be]=Пусты файл...
Name[be@latin]=Pusty fajl...
Name[bg]=Празен файл...
Name[ca]=Fitxer buit...
Name[ca@valencia]=Fitxer buit…
Name[cs]=Prázdný soubor...
Name[cy]=Ffeil Gwag...
Name[da]=Tekstfil...
Name[de]=Leere Datei …
Name[el]=Κενό αρχείο...
Name[en_GB]=Empty File...
Name[eo]=Malplena Dosiero...
Name[es]=Archivo vacío…
Name[et]=Tühi fail ...
Name[eu]=Fitxategi hutsa...
Name[fa]=پرونده‌ٔ خالی…
Name[fi]=Tyhjä tiedosto…
Name[fr]=Fichier vide...
Name[ga]=Comhad Folamh...
Name[gl]=Ficheiro baleiro…
Name[he]=קובץ ריק…
Name[hr]=Prazna datoteka...
Name[hu]=Üres fájl…
Name[ia]=File vacue ...
Name[id]=File Kosong...
Name[ie]=Vacui file...
Name[is]=Tóm skrá...
Name[it]=File vuoto...
Name[ka]=ცარიელი ფაილი...
Name[ko]=빈 파일...
Name[lg]=Fayiro Njereere...
Name[lt]=Tuščias failas...
Name[lv]=Tukša datne...
Name[my]=ဖိုင်လ်အလွတ်…
Name[nb]=Tom fil …
Name[nl]=Leeg bestand...
Name[nn]=Tom fil …
Name[pa]=ਖਾਲੀ ਫਾਇਲ...
Name[pl]=Pusty plik...
Name[pt]=Ficheiro Vazio...
Name[pt_BR]=Arquivo vazio...
Name[ro]=Fișier gol...
Name[ru]=Пустой файл...
Name[sa]=रिक्तं सञ्चिका...
Name[sk]=Prázdny súbor...
Name[sl]=Prazna datoteka...
Name[sq]=Kartelë e Zbrazët…
Name[sv]=Tom fil...
Name[ta]=காலியான கோப்பு...
Name[th]=ไฟล์ว่าง...
Name[tr]=Boş Dosya…
Name[uk]=Порожній файл…
Name[vi]=Tệp trống...
Name[zh_CN]=空文件...
Name[zh_TW]=空白檔案…
Comment=Enter name for empty file:
Comment[ar]=أدخل اسم للملفّ الفارغ:
Comment[bg]=Въведете името за празен файл:
Comment[ca]=Introduïu el nom del fitxer buit:
Comment[ca@valencia]=Introduïu el nom del fitxer buit:
Comment[de]=Geben Sie den Namen für die leere Datei ein:
Comment[es]=Introduzca el nombre del archivo vacío:
Comment[eu]=Sartu fitxategi hutsaren izena:
Comment[fi]=Anna tyhjälle tiedostolle nimi:
Comment[fr]=Saisir le nom d'un fichier vide :
Comment[ga]=Cuir isteach ainm don chomhad folamh:
Comment[gl]=Escriba o nome do ficheiro baleiro:
Comment[he]=נא למלא שם לקובץ הריק:
Comment[hr]=Unesite naziv za praznu datoteku:
Comment[hu]=Üres fájl neve:
Comment[ia]=Inserta nomine per file vacue:
Comment[is]=Sláðu inn heiti á tómri skrá:
Comment[it]=Inserisci il nome per un file vuoto:
Comment[ka]=შეიყვანეთ სახელი ცარიელი ფაილისთვის:
Comment[ko]=빈 파일 이름을 입력하십시오:
Comment[lg]=Wandika linnya lya fayiro enjereere:
Comment[lt]=Įveskite tuščio failo pavadinimą:
Comment[lv]=Ierakstiet tukšās datnes nosaukumu:
Comment[my]=ဗလာဖိုင်၏အမည်ရေးပါ-
Comment[nl]=Naam van leeg bestand invoeren:
Comment[pl]=Wpisz nazwę dla pustego pliku:
Comment[pt]=Introduzir nome para o ficheiro vazio:
Comment[pt_BR]=Insira o nome do arquivo vazio:
Comment[ru]=Введите имя для пустого файла:
Comment[sl]=Vnesite ime za prazno datoteko:
Comment[sv]=Ange namn på tom fil:
Comment[ta]=காலியான கோப்பிற்கான பெயரை உள்ளிடவும்:
Comment[tr]=Boş dosya için ad gir:
Comment[uk]=Введіть назву порожнього файла:
Comment[zh_CN]=输入空文件的文件名：
Comment[zh_TW]=輸入空白檔案的名稱：
Type=Link
URL=.source/EmptyFile
Icon=none
