[Desktop Entry]
Name=HTML File...
Name[af]=HTML Lêer...
Name[as]=HTML নথিপত্ৰ...
Name[be]=Файл HTML...
Name[be@latin]=Fajł HTML...
Name[bg]=HTML файл...
Name[bn]=HTML ফাইল...
Name[bn_IN]=HTML ফাইল...
Name[br]=Restr HTML ...
Name[csb]=Lopk HTML ...
Name[cy]=Ffeil HTML...
Name[da]=HTML-fil...
Name[de]=HTML-Datei ...
Name[el]=Αρχείο HTML...
Name[en_GB]=HTML File...
Name[eo]=HTML-dosiero...
Name[et]=HTML-fail...
Name[eu]=HTML fitxategia...
Name[fr]=Fichier HTML...
Name[fy]=HTML-triem.......
Name[ga]=Comhad HTML...
Name[gu]=HTML ફાઇલ...
Name[he]=קובץ HTML...
Name[hne]=एचटीएमएल फाइल...
Name[hr]=HTML datoteka…
Name[hsb]=HTML-dataja...
Name[hu]=HTML-fájl…
Name[ia]=File HTML ...
Name[id]=Berkas HTML...
Name[it]=File HTML...
Name[kk]=HTML файлы...
Name[kn]=HTML ಕಡತ...
Name[ku]=Pelê HTML...
Name[mai]=HTML फाइल...
Name[mk]=HTML датотека...
Name[ml]=എച്ച്ടിഎംഎല്‍ ഫയല്‍...
Name[mr]=HTML फाइल...
Name[ms]=Fail HTML...
Name[nds]=HTML-Datei...
Name[nl]=HTML-bestand...
Name[oc]=Fichièr HTML
Name[or]=HTML ଫାଇଲ...
Name[pa]=HTML ਫਾਈਲ...
Name[pl]=Plik HTML...
Name[ro]=Fișier HTML...
Name[si]=HTML ගොනුව...
Name[sv]=HTML-fil...
Name[ta]=HTML கோப்பு...
Name[te]=హెచ్ టి ఎం ఎల్ దస్త్రం...
Name[tg]=Файлҳои HTML...
Name[th]=แฟ้ม HTML...
Name[uz]=HTML-fayli...
Name[uz@cyrillic]=HTML-файли...
Name[vi]=Tập tin HTML...
Name[wa]=Fitchî HTML...
Name[zh_CN]=HTML 文件...
Name[zh_TW]=HTML 檔案...
Comment=Enter HTML filename:
Comment[af]=Voer HTML lêernaam in:
Comment[as]=HTML নথিপত্ৰৰনাম দিয়ক:
Comment[be]=Вызначце назву файла HTML:
Comment[be@latin]=Upišy nazvu fajła HTML:
Comment[bg]=Въведете името на HTML файла:
Comment[bn]=HTML ফাইলের নাম:
Comment[bn_IN]=HTML ফাইলের নাম লিখুন:
Comment[br]=Roit un anv ar restr :
Comment[csb]=Wpiszë miono lopka HTML:
Comment[da]=Indtast HTML-filnavn:
Comment[de]=Geben Sie den HTML-Dateinamen ein:
Comment[el]=Δώστε το όνομα του αρχείου HTML:
Comment[en_GB]=Enter HTML filename:
Comment[eo]=Enmeti la HTML-dosiernomon:
Comment[et]=Sisesta HTML-faili nimi:
Comment[eu]=Sartu HTML fitxategiaren izena:
Comment[fr]=Saisir le nom du fichier HTML :
Comment[fy]=Namme fan HTML-triem ynfiere:
Comment[ga]=Iontráil ainm an chomhaid HTML:
Comment[gu]=HTML ફાઇલનામ દાખલ કરો:
Comment[he]=יש להכניס שם לקובץ ה־HTML:
Comment[hne]=एचटीएमएल फाइलनाम भरव:
Comment[hr]=Unesite naziv HTML datoteke:
Comment[hsb]=Mjeno HTML-dataje zapodać:
Comment[hu]=A HTML-fájl neve:
Comment[ia]=Entra un nomine de file HTML:
Comment[id]=Masukkan nama berkas HTML:
Comment[it]=Inserisci il nome del file HTML:
Comment[kk]=HTML файлының атауы:
Comment[kn]=HTML ಕಡತದ ಹೆಸರನ್ನು ನಮೂದಿಸು:
Comment[ku]=Navê pelê HTML binivîse:
Comment[mai]=HTML फाइलनाम दिअ':
Comment[mk]=Внесете го името на HTML датотеката:
Comment[ml]=എച്ച്‌ടിഎംഎല്‍ ഫയലിന്റെ പേരു്:
Comment[mr]=HTML फाइलनाव प्रविष्ट करा:
Comment[ms]=Masukkan nama fail HTML:
Comment[nds]=Naam vun de HTML-Datei ingeven:
Comment[nl]=Naam HTML-bestand invoeren:
Comment[or]=HTML ପାଇଲ ନାମ ଭରଣ କରନ୍ତୁ:
Comment[pa]=HTML ਫਾਈਲ ਨਾਂ ਦਿਓ:
Comment[pl]=Podaj nazwę pliku HTML:
Comment[ro]=Introduceți numele fișierului HTML:
Comment[si]=HTML ගොනු නාමය ඇතුළත් කරන්න:
Comment[sv]=Ange HTML-filnamn:
Comment[ta]=HTML கோப்பு பெயரை உள்ளிடு:
Comment[te]=హెచ్ టి ఎం ఎల్ దస్త్రం పేరును వ్రాయండి:
Comment[tg]=Вориди номи файли HTML:
Comment[th]=ป้อนชื่อแฟ้ม HTML:
Comment[uz]=HTML-faylning nomini kiriting:
Comment[uz@cyrillic]=HTML-файлнинг номини киритинг:
Comment[vi]=Điền tên tập tin HTML:
Comment[wa]=Intrez on no d' fitchî HTML:
Comment[zh_CN]=输入 HTML 文件名称：
Comment[zh_TW]=輸入 HTML 檔名：
Type=Link
URL=.source/HTMLFile.html
Icon=text-html
