[Desktop Entry]
Name=Link to File or Directory...
Name[az]=Fayl və ya qovluğa keçid ...
Name[ca]=Enllaç a un fitxer o directori...
Name[de]=Verknüpfung zu Datei oder Ordner ...
Name[es]=Enlace a archivo o a directorio...
Name[ia]=Ligamine a file o directorio...
Name[it]=Collegamento a file o cartella...
Name[ko]=파일이나 디렉터리로 향한 연결...
Name[nl]=Koppeling naar bestand of map...
Name[pt]=Atalho para Ficheiro ou Pasta...
Name[sl]=Povezava do datoteke ali imenika...
Name[sv]=Länka till fil eller katalog...
Name[uk]=Посилання на файл або каталог…
Name[vi]=Liên kết đến tệp hoặc thư mục...
Name[x-test]=xxLink to File or Directory...xx
Comment=File or directory to link to:
Comment[az]=Buraya keçid üçün fayl və qovluq:
Comment[ca]=Fitxer o directori per a enllaçar:
Comment[de]=Datei oder Ordner für die Verknüpfung:
Comment[es]=Archivo o directorio al que enlazar:
Comment[ia]=File o  directorio de ligar a:
Comment[it]=File o cartella verso cui creare il collegamento:
Comment[ko]=링크할 파일이나 디렉터리:
Comment[nl]=Bestand of map waarnaar te koppelen:
Comment[pt]=O ficheiro ou pasta para o qual criar a ligação:
Comment[sl]=Datoteka ali imenik za povezavo:
Comment[sv]=Fil eller katalog att länka till:
Comment[uk]=Файл або каталог, на який слід створити посилання:
Comment[vi]=Tệp hoặc thư mục để liên kết đến:
Comment[x-test]=xxFile or directory to link to:xx
URL=__CREATE_SYMLINK__
Type=Link
Icon=emblem-symbolic-link
