[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol5/webshortcuts/index.html
Icon=preferences-web-browser-shortcuts
Exec=kcmshell5 webshortcuts

X-KDE-Library=kcm_webshortcuts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=search
X-KDE-Weight=70

Name=Web Search Keywords

Comment=Configure web search keywords

X-KDE-Keywords=Web Search Keywords,Web Search,Search,Keyword,Web Shortcuts,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
