[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/webshortcuts/index.html
Icon=preferences-web-browser-shortcuts
Exec=kcmshell5 webshortcuts

X-KDE-Library=kcm_webshortcuts
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=shortcuts
X-KDE-Weight=70

Name=Web Shortcuts
Name[af]=Web Kortpaaie
Name[as]=ৱেবৰ চমু পথ
Name[be]=Скароты Сеціва
Name[be@latin]=Skaroty dla sieciva
Name[bg]=Уеб съкращения
Name[bn]=ওয়েব শর্টকাট
Name[bn_IN]=ওয়েব শর্ট-কাট
Name[br]=Berradennoù ar gwiad
Name[csb]=Sécowé skrodzënë
Name[cy]=Byr-lwybrau Gwe
Name[da]=Webgenveje
Name[de]=Webkürzel
Name[el]=Συντομεύσεις ιστού
Name[en_GB]=Web Shortcuts
Name[eo]=TTT klavokombinoj
Name[et]=Veebi kiirkorraldused
Name[eu]=Web lasterbideak
Name[fa]=میان‌برهای وب
Name[fr]=Raccourcis Web
Name[fy]=Webskeakels
Name[ga]=Aicearraí Gréasáin
Name[gu]=વેબ ટૂંકાણો
Name[he]=קיצורי דרך אינטרנטיים
Name[hne]=वेब सार्टकट
Name[hr]=Internetski prečaci
Name[hsb]=Skrótšenki za web
Name[hu]=Keresési azonosítók
Name[ia]=Vias Breve de web
Name[id]=Jalan Pintas Web
Name[it]=Scorciatoie del web
Name[kk]=Веб қысқартулары
Name[kn]=ಜಾಲ ಶೀಘ್ರಮಾರ್ಗಗಳು (ಶಾರ್ಟ್ ಕಟ್)
Name[ku]=Kurteriyên Webê
Name[mai]=वेब शार्टकट
Name[mk]=Интернет-кратенки
Name[ml]=വെബിലെ കുറക്കുവഴികള്‍
Name[mr]=वेब शॉर्टकट
Name[ms]=Jalan Pintas Web
Name[nds]=Söökafkörten
Name[ne]=वेब सर्टकट
Name[nl]=Webkoppelingen
Name[or]=ୱେବ ସଂକ୍ଷିପ୍ତ ପଥଗୁଡ଼ିକ
Name[pa]=ਵੈਬ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty sieciowe
Name[ro]=Acceleratori de web
Name[si]=වෙබ් කෙටිමං
Name[sv]=Webbgenvägar
Name[ta]=இணைய சுருக்கு வழிகள்
Name[te]=వెబ్ లఘువులు
Name[tg]=Тугмаҳои тез
Name[th]=ทางลัดเว็บ
Name[uz]=Veb-qisqartmalari
Name[uz@cyrillic]=Веб-қисқартмалари
Name[vi]=Lối tắt Mạng
Name[wa]=Rascourtis waibe
Name[xh]=Ezimfutshane ze Web
Name[zh_CN]=网页快捷方式
Name[zh_TW]=網頁捷徑

Comment=Configure web shortcuts

X-KDE-Keywords=Web Shortcuts,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
