[Desktop Entry]
Name=UADescription (Google Chrome 57.0)
Name[ast]=UADescription (Google Chrome 57.0)
Name[az]=UADescription (Google Chrome 57.0)
Name[ca]=Descripció AU (Google Chrome 57.0)
Name[ca@valencia]=Descripció AU (Google Chrome 57.0)
Name[cs]=Popis agenta (Google Chrome 57.0)
Name[da]=Brugeragentbeskrivelse (Google Chrome 57.0)
Name[de]=Browserkennung (Google Chrome 57.0)
Name[el]=Περιγραφή UA (Google Chrome 57.0)
Name[en_GB]=UADescription (Google Chrome 57.0)
Name[es]=UADescription (Google Chrome 57.0)
Name[et]=UADescription (Google Chrome 57.0)
Name[eu]=UADescription (Google Chrome 57.0)
Name[fi]=Käyttäjäagenttikuvaus (Google Chrome 57.0)
Name[fr]=UADescription (Google Chrome 57.0)
Name[gl]=UADescription (Google Chrome 57.0)
Name[hu]=Böngészőtípus (Google Chrome 57.0)
Name[ia]=UADescription (Google Chrome 57.0)
Name[id]=UADescription (Google Chrome 57.0)
Name[it]=Descrizione UA (Google Chrome 57.0)
Name[ko]=UADescription (Google 크롬 57.0)
Name[lt]=UADescription (Google Chrome 57.0)
Name[nl]=GA-beschrijving (Google Chrome 57.0)
Name[nn]=Brukaragent (Google Chrome 57.0)
Name[pl]=UADescription (Google Chrome 57.0)
Name[pt]=UADescription (Google Chrome 57.0)
Name[pt_BR]=UADescription (Google Chrome 57.0)
Name[ru]=UADescription (Google Chrome 57.0)
Name[sk]=UADescription (Google Chrome 57.0)
Name[sl]=Opis UP (Google Chrome 57.0)
Name[sr]=УА‑опис (Гуглов Кроум 57.0)
Name[sr@ijekavian]=УА‑опис (Гуглов Кроум 57.0)
Name[sr@ijekavianlatin]=UA-opis (Googleov Chrome 57.0)
Name[sr@latin]=UA-opis (Googleov Chrome 57.0)
Name[sv]=AA-beskrivning (Google Chrome 57.0)
Name[tg]=UADescription (Google Chrome 57.0)
Name[tr]=UADescription (Google Chrome 57.0)
Name[uk]=UADescription (Google Chrome 57.0)
Name[vi]=Đại diện người dùng (Google Chrome 57.0)
Name[x-test]=xxUADescription (Google Chrome 57.0)xx
Name[zh_CN]=客户端描述 (Google Chrome 57.0)
Name[zh_TW]=使用者代理描述 (Google Chrome 57.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; appSysName appMachineType) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.98 Safari/537.36
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=57.0.2987.98
X-KDE-UA-DYNAMIC-ENTRY=1
