[Desktop Entry]
Name=UADescription (IE 9.0 on Windows Seven)
Name[ca]=Descripció AU (IE 9.0 a Windows 7)
Name[cs]=Popis agenta (IE 9.0 na Windows 7)
Name[en_GB]=UADescription (IE 9.0 on Windows Seven)
Name[es]=Descripción del agente de usuario (IE 9.0 en Windows Seven)
Name[fi]=Käyttäjäagenttikuvaus (IE 9.0 Windows 7:llä)
Name[fr]=UADescription (IE 9.0 sous Windows 7)
Name[it]=Descrizione UA (IE 9.0 su Windows 7)
Name[nl]=GA-beschrijving (IE 9.0 op Windows 7)
Name[pl]=Opis przeglądarki użytkownika (IE 9.0 na Windows Vista)
Name[pt]=UADescription (IE 9.0 no Windows Vista)
Name[pt_BR]=UADescription (IE 9.0 no Windows 7)
Name[sk]=Popis agenta (IE 9.0 na Windows 7)
Name[sr]=УА‑опис (ИЕ 9.0 на Виндоузу 7)
Name[sr@ijekavian]=УА‑опис (ИЕ 9.0 на Виндоузу 7)
Name[sr@ijekavianlatin]=UA-opis (IE 9.0 na Windowsu 7)
Name[sr@latin]=UA-opis (IE 9.0 na Windowsu 7)
Name[uk]=UADescription (IE 9.0 у Windows 7)
Name[x-test]=xxUADescription (IE 9.0 on Windows Seven)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 7.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=9.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=Seven
