[Desktop Entry]
Name=UADescription (Opera 12.02 on current)
Name[nl]=GA-beschrijving (Opera 12.02 op huidige)
Name[pt_BR]=UADescription (Opera 12.02 no sistema atual)
Name[sk]=Popis agenta (Opera 12.02 na aktuálnom)
Name[uk]=UADescription (Opera 12.02 на поточній)
Name[x-test]=xxUADescription (Opera 12.02 on current)xx
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/12.02 (appPlatform; appSysName appMachineType; U; appLanguage) Presto/2.10.289 Version/12.02
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=12.02
X-KDE-UA-DYNAMIC-ENTRY=1
