[Desktop Entry]
Type=Service
Name=HTTP Cache Cleaner
Name[de]=Aufräumprogramm für den HTTP-Zwischenspeicher
Name[hy]=HTTP-ի պահեստը մաքրող
Name[lb]=Opraumer fir den HTTP-Zwëschespäicher
Name[nl]=HTTP Cache opschonen
Name[ps]=پټياد پاکوونکی HTTP
Name[pt_BR]=Limpador de cache HTTP
Name[tt]=HTTP кешын бушату
Name[uk]=Очищувач кешу HTTP
Name[x-test]=xxHTTP Cache Cleanerxx
Name[zh_HK]=HTTP 快取清除程式
Exec=kio_http_cache_cleaner
Comment=Cleans up old entries from the HTTP cache
Comment[de]=Löscht alte Einträge aus dem HTTP-Zwischenspeicher
Comment[hy]=Մաքրում է հին գրառումները HTTP-ի պահեստից
Comment[lb]=Entfernt al Entréen aus dem HTTP-Zwëschespäicher
Comment[nl]=Verwijdert oude items uit de HTTP-cache
Comment[ps]=پټياد څخه زړې ننوتنې پاکوي HTTP د
Comment[pt_BR]=Limpa itens antigos do cache HTTP
Comment[tt]=HTTP кэшенда булган иске керемнәрне бетерү
Comment[uk]=Вичищає старі елементи з кешу HTTP
Comment[x-test]=xxCleans up old entries from the HTTP cachexx
Comment[zh_HK]=從 HTTP 快取中清除舊的項目
X-KDE-StartupNotify=false
