[Desktop Entry]
Type=Service
Name=Cookie Jar
Comment=Stores network cookies
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kcookiejar
X-KDE-DBus-ModuleName=kcookiejar
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
