[Desktop Entry]
Type=Service
Name=Cookie Jar
Name[de]=Cookie-Behälter
Name[hy]=Քուքի բանկա
Name[ia]=Cookie Jar
Name[nl]=Cookie-depot
Name[pt]=Lista de 'Cookies'
Name[pt_BR]=Repositório de cookies
Name[sq]=Kavanozi i biskotave
Name[sv]=Kakburk
Name[tt]=Cookie Jar
Name[uk]=Глечик з куками
Name[x-test]=xxCookie Jarxx
Comment=Stores network cookies
Comment[de]=Netzwerk-Cookies speichern
Comment[hy]=Պահում է ցանցի քուքիները
Comment[ia]=Il immagazina le cookies de rete
Comment[nl]=Slaat netwerk-cookies op
Comment[pt]=Guarda os 'cookies' de rede
Comment[pt_BR]=Armazena os cookies da rede
Comment[sv]=Lagrar nätverkskakor
Comment[tt]=Челтәрле cookies'ны саклау
Comment[uk]=Зберігання кук мережі
Comment[x-test]=xxStores network cookiesxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kcookiejar
X-KDE-DBus-ModuleName=kcookiejar
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
