[Desktop Entry]
Type=Service
Name=Cookie Jar
Name[ca]=Repositori de les galetes
Name[cs]=Cookie Jar
Name[da]=Cookie-dåse
Name[de]=Cookie-Behälter
Name[en_GB]=Cookie Jar
Name[es]=Tarro de las galletas
Name[fi]=Evästeiden säilytys
Name[fr]=Boîte à cookies
Name[gd]=Crogan bhriosgaidean
Name[gl]=Bote de cookies
Name[hu]=Sütis doboz
Name[hy]=Քուքի բանկա
Name[ia]=Cookie Jar
Name[id]=Tempat Kuki
Name[it]=Modulo Jar dei cookie
Name[ja]=クッキー Jar
Name[ko]=쿠키 병
Name[lt]=Slapukų talpykla
Name[mr]=कुकी जार
Name[nb]=Lager for informasjonskapsler
Name[nds]=Kookjepleeg
Name[nl]=Cookie-depot
Name[nn]=Informasjonskapsel-lager
Name[pa]=ਕੂਕੀਜ਼ ਜ਼ਾਰ
Name[pl]=Słoiki z ciastkami
Name[pt]=Repositório de 'Cookies'
Name[pt_BR]=Repositório de cookies
Name[ru]=Служба cookie
Name[se]=Diehtočoahkorádju
Name[sk]=Úložisko cookie
Name[sl]=Posoda s piškotki
Name[sq]=Kavanozi i biskotave
Name[sr]=Тегла за колачиће
Name[sr@ijekavian]=Тегла за колачиће
Name[sr@ijekavianlatin]=Tegla za kolačiće
Name[sr@latin]=Tegla za kolačiće
Name[sv]=Kakburk
Name[tr]=Çerez Kavanozu
Name[tt]=Cookie Jar
Name[uk]=Глечик з куками
Name[x-test]=xxCookie Jarxx
Name[zh_CN]=Cookie Jar
Name[zh_TW]=Cookie Jar
Comment=Stores network cookies
Comment[ar]=يخزّن كعكات الشبكة
Comment[ca]=Emmagatzema les galetes de la xarxa
Comment[cs]=Ukládá síťová cookie
Comment[da]=Gemmer netværks-cookies
Comment[de]=Netzwerk-Cookies speichern
Comment[en_GB]=Stores network cookies
Comment[es]=Guarda las cookies de la red
Comment[fi]=Säilyttää verkkoevästeitä
Comment[fr]=Enregistre les cookies réseau
Comment[gd]=Glèidhidh seo briosgaidean lìonraidh
Comment[gl]=Garda cookies da rede
Comment[hu]=Hálózati sütik tárolása
Comment[hy]=Պահում է ցանցի քուքիները
Comment[ia]=Il immagazina le cookies de rete
Comment[id]=Simpan kuki jaringan
Comment[it]=Salva cookie di rete
Comment[ja]=ネットワーククッキーを保存
Comment[ko]=네트워크 쿠키를 저장합니다
Comment[lt]=Saugo tinklo slapukus
Comment[nb]=Lagrer informasjonskapsler fra nettverket
Comment[nds]=Wohrt Nettwark-Kookjes
Comment[nl]=Slaat netwerk-cookies op
Comment[nn]=Lagrar informasjonskapslar frå nettverket
Comment[pa]=ਨੈੱਟਵਰਕ ਕੂਕੀਜ਼ ਸਟੋਰ ਕਰੋ
Comment[pl]=Przechowuje ciasteczka sieciowe
Comment[pt]=Guarda os 'cookies' da rede
Comment[pt_BR]=Armazena os cookies da rede
Comment[ru]=Сохранение сетевых cookie
Comment[se]=Vurke fierpmádatdiehtočoahkuid
Comment[sk]=Ukladá sieťové cookies
Comment[sl]=Hrani omrežne piškotke
Comment[sr]=Складишти мрежне колачиће
Comment[sr@ijekavian]=Складишти мрежне колачиће
Comment[sr@ijekavianlatin]=Skladišti mrežne kolačiće
Comment[sr@latin]=Skladišti mrežne kolačiće
Comment[sv]=Lagrar nätverkskakor
Comment[tr]=Ağ çerezlerini saklar
Comment[tt]=Челтәрле cookies'ны саклау
Comment[uk]=Зберігання кук мережі
Comment[x-test]=xxStores network cookiesxx
Comment[zh_CN]=存储网络 cookie
Comment[zh_TW]=儲存網路 cookie
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kf5/kded/kcookiejar
X-KDE-DBus-ModuleName=kcookiejar
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
