[Desktop Entry]
Type=Service
Name=ShortURIFilter
X-KDE-Library=kf5/urifilters/kshorturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=5
