[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Trash File Info
Name[az]=Zibil Faylı Məlumatı
Name[bg]=Информация за кошчето
Name[da]=Fil-info om affald
Name[en_GB]=Wastebin File Info
Name[eo]=Rubuja informo
Name[et]=Prügikasti failiinfo
Name[fr]=Info Fichier Corbeille
Name[hu]=Szemétkosár-jellemzők
Name[mk]=Инфо. за датотека од Корпата
Name[mt]=Skart
Name[nl]=Prullenbakinformatie
Name[pa]=ਰੱਦੀ ਫਾਇਲ ਜਾਣਕਾਰੀ
Name[pt]=Informações de Ficheiros no Lixo
Name[pt_BR]=Informações sobre o Arquivo de Lixo
Name[sv]=Information om filer i papperskorgen
Name[ta]=குப்பைத்தொட்டி கோப்பு தகவல்
Name[tr]=Çöp Dosya Bilgisi
Name[uk]=Інформація про файл у смітнику
Name[zh_CN]=回收站文件信息
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_trash
X-KDE-Protocol=trash
PreferredGroups=General
PreferredItems=OriginalPath,DateOfDeletion
