[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Trash File Info
Name[x-test]=xxTrash File Infoxx
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_trash
X-KDE-Protocol=system
PreferredGroups=General
PreferredItems=OriginalPath,DateOfDeletion
