[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Trash File Info
Name[af]=Asblik inligting
Name[ar]=معلومات مفل المهملات
Name[bg]=Информация за кошчето
Name[br]=Titouroù diwar-benn ar pod-lastez
Name[ca]=Informació del fitxer paperera
Name[cs]=Info o koši
Name[csb]=Wëdowiédzô ò lopkù w kòszu
Name[da]=Fil-info om affald
Name[de]=Mülleimer-Information
Name[el]=Πληροφορίες για τον Κάδο Απορριμμάτων
Name[en_GB]=Wastebin File Info
Name[eo]=Rubuja informo
Name[es]=Información de la papelera
Name[et]=Prügikasti failiinfo
Name[eu]=Zakarontziaren infoa
Name[fa]=اطلاعات پروندۀ زباله
Name[fi]=Roskakorin tiedot
Name[fr]=Info Fichier Corbeille
Name[fy]=Jiskefet ynformaasje
Name[gl]=Información do Lixo
Name[he]=מידע אודות קובץ אשפה
Name[hr]=Podaci o otpadu
Name[hu]=Szemétkosár-jellemzők
Name[is]=Upplýsingar um ruslaskrá
Name[it]=Informazioni file del cestino
Name[ja]=ごみ箱情報
Name[ka]=ურნაში არსებული ფაილის შესახებ ცნობი
Name[kk]=Өшірілген файл мәліметі
Name[km]=ព័ត៌មាន​ឯកសារ​សំរាម
Name[lt]=Šiukšlių bylos informacija
Name[lv]=Atkritumu faila informācija
Name[mk]=Инфо. за датотека од Корпата
Name[ms]=Maklumat Fail Sampah
Name[nb]=Søppelfilinformasjon
Name[nds]=Affalltünn-Informatschonen
Name[ne]=रद्दीटोकरी फाइल सूचना
Name[nl]=Prullenbakinformatie
Name[nn]=Søppelfilinformasjon
Name[pa]=ਰੱਦੀ ਫਾਇਲ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku w koszu
Name[pt]=Informações de Ficheiros no Lixo
Name[pt_BR]=Informações sobre o Arquivo de Lixo
Name[ro]=Informaţii fişier şters
Name[ru]=Сведения о файле в корзине
Name[se]=Ruskalihttedieđut
Name[sl]=Informacije o Smeteh
Name[sr]=Информације о фајлу у смећу
Name[sr@Latn]=Informacije o fajlu u smeću
Name[sv]=Information om filer i papperskorgen
Name[ta]=குப்பைத்தொட்டி கோப்பு தகவல்
Name[te]=చెత్త బుట్ట దస్త్ర వివరాలు
Name[tg]=Файли ахборотии ахлотдон
Name[tr]=Çöp Dosya Bilgisi
Name[uk]=Інформація про файл у смітнику
Name[uz]=Чиқиндилар қутиси ҳақида маълумот
Name[x-test]=xxTrash File Infoxx
Name[zh_TW]=資源回收桶檔案資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_trash
X-KDE-Protocol=trash
PreferredGroups=General
PreferredItems=OriginalPath,DateOfDeletion
