[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kssld
X-KDE-DBus-ModuleName=kssld
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=SSL Certificate Policy
Name[de]=SSL-Zertifikat-Regel
Name[hy]=SSL-ի վկայականի սկզբունք
Name[nl]=SSL-certificaat-beleid
Name[pt_BR]=Política de certificados SSL
Name[tt]=SSL Таныклыкларның Күрсәтмәсе
Name[uk]=Правила для сертифікатів SSL
Name[x-test]=xxSSL Certificate Policyxx
Comment=Provides SSL certificate policy to applications
Comment[de]=SSL-Zertifikat-Regel den Anwendungen zur Verfügung stellen
Comment[hy]=Տրամադրում է SSL-ի վկայականի սկզբունքը գործադրումներին
Comment[nl]=Levert het SSL-certificaat-beleid aan applicaties
Comment[pt_BR]=Fornece uma política de certificados SSL aos aplicativos
Comment[tt]=Кушылмалар өчен SSL таныклыкларның күрсәтмәсе
Comment[uk]=Правила роботи з сертифікатами SSL для програм
Comment[x-test]=xxProvides SSL certificate policy to applicationsxx
