[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kssld
X-KDE-DBus-ModuleName=kssld
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=SSL Certificate Policy
Name[de]=SSL-Zertifikat-Regel
Name[hy]=SSL-ի վկայականի սկզբունք
Name[ia]=Politica del certificato SSL
Name[nds]=SSL-Zertifikatregel
Name[nl]=SSL-certificaat-beleid
Name[pt]=Política de Certificados de SSL
Name[pt_BR]=Política de certificados SSL
Name[sv]=SSL-certifikatpolicy
Name[tt]=SSL Таныклыкларның Күрсәтмәсе
Name[uk]=Правила для сертифікатів SSL
Name[x-test]=xxSSL Certificate Policyxx
Comment=Provides SSL certificate policy to applications
Comment[de]=SSL-Zertifikat-Regel den Anwendungen zur Verfügung stellen
Comment[hy]=Տրամադրում է SSL-ի վկայականի սկզբունքը գործադրումներին
Comment[ia]=Il forni le politica de certification SSL pro le applicationes
Comment[nds]=Stellt SSL-Zertifikaatregeln för Programmen praat.
Comment[nl]=Levert het SSL-certificaat-beleid aan applicaties
Comment[pt]=Fornece uma política de certificados de SSL para as aplicações
Comment[pt_BR]=Fornece uma política de certificados SSL aos aplicativos
Comment[sv]=Tillhandahåller SSL-certifikatpolicyn till program
Comment[tt]=Кушылмалар өчен SSL таныклыкларның күрсәтмәсе
Comment[uk]=Правила роботи з сертифікатами SSL для програм
Comment[x-test]=xxProvides SSL certificate policy to applicationsxx
