[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kssld
X-KDE-DBus-ModuleName=kssld
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=SSL Certificate Policy
Name[nl]=SSL-certificaat-beleid
Name[uk]=Правила для сертифікатів SSL
Name[x-test]=xxSSL Certificate Policyxx
Comment=Provides SSL certificate policy to applications
Comment[nl]=Levert het SSL-certificaat-beleid aan applicaties
Comment[uk]=Правила роботи з сертифікатами SSL для програм
Comment[x-test]=xxProvides SSL certificate policy to applicationsxx
