[Desktop Entry]
Type=Service
Name=FixHostFilter
X-KDE-Library=kf5/urifilters/fixhosturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=1
