[Desktop Entry]
Type=Application
Exec=ktelnetservice5 %u
Icon=utilities-terminal
MimeType=x-scheme-handler/telnet;x-scheme-handler/rlogin;x-scheme-handler/ssh;

X-DocPath=kioslave5/telnet/index.html
NoDisplay=true

Name=KTelnetService
Name[de]=KTelnetService
Name[hy]=KTelnetService
Name[ia]=KTelnetService (Servicio de KTelnet)
Name[nds]=KTelnetService
Name[nl]=KTelnetService
Name[pt]=KTelnetService
Name[pt_BR]=KTelnetService
Name[sv]=Ktelnet-tjänst
Name[tt]=KTelnetService
Name[uk]=KTelnetService
Name[x-test]=xxKTelnetServicexx
