[Desktop Entry]
Type=Application
Exec=ktelnetservice5 %u
Icon=utilities-terminal
MimeType=x-scheme-handler/telnet;x-scheme-handler/rlogin;x-scheme-handler/ssh;

X-DocPath=kioslave5/telnet/index.html
NoDisplay=true

Name=KTelnetService
