[Desktop Entry]
Type=Service
Name=Network Proxy Configuration
Comment=Automatic proxy configuration
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=proxyscout
X-KDE-DBus-ModuleName=proxyscout
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
