[Desktop Entry]
Type=Service
MimeType=inode/directory
Actions=test1
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=template

[Desktop Action test1]
Name=dir_service_menu
Icon=template
Exec=true
