[Desktop Entry]
Type=Service
MimeType=all/all
Actions=smb_test
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Protocols=smb
Icon=template

[Desktop Action smb_test]
Name=smb
Icon=template
Exec=true %u
