[Desktop Entry]
Type=Service
MimeType=all/all
Actions=no_file_test
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Protocol=!file
Icon=template

[Desktop Action no_file_test]
Name=no_file
Icon=template
Exec=true %u
