[Desktop Entry]
Type=Service
MimeType=inode/directory
Actions=test1;test2
X-KDE-Priority=TopLevel
X-KDE-Submenu=dir_service_submenu
X-KDE-StartupNotify=false
Icon=template

[Desktop Action test1]
Name=dir_service_submenu_action1
Icon=template
Exec=true

[Desktop Action test2]
Name=dir_service_submenu_action2
Icon=template
Exec=true
