[Desktop Entry]
Type=Service
MimeType=inode/directory
Actions=test1
X-KDE-Priority=TopLevel
Icon=template
TryExec=thisexecdoesnotexist

[Desktop Action test1]
Name=test1
Icon=template
Exec=true
