[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileItemAction/Plugin
Comment=Plugin for the KIO file item context menu
Comment[de]=Erweiterung für das Kontextmenü eines KIO-Datei-Elements
Comment[hy]=Հարմարանք KIO-ի ֆայլի նյութերի կոնտեքստ մենյու
Comment[ia]=Plugin pro le menu de contexto de elemento de file de KIO
Comment[nl]=Plugin voor het contextmenu van het KIO-bestandsitem
Comment[pt]='Plugin' do menu de contexto dos itens de ficheiros do KIO
Comment[pt_BR]=Plugin para o menu de contexto do item de arquivos do KIO
Comment[sv]=Insticksprogram för KIO-filobjektets sammanhangsberoende meny
Comment[tt]=KIO файлның контекст меню өстәлмәсе
Comment[uk]=Додаток пункту контекстного меню KIO
Comment[x-test]=xxPlugin for the KIO file item context menuxx
