[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileItemAction/Plugin
Comment=Plugin for the KIO file item context menu
Comment[uk]=Додаток пункту контекстного меню KIO
Comment[x-test]=xxPlugin for the KIO file item context menuxx
