[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KIO/DndPopupMenu/Plugin
Comment=Plugin for the KIO Drag-and-drop Popup Menu
Comment[ca]=Connector per al menú emergent d'arrossegar i deixar anar del KIO
Comment[da]=Plugin til pop-op-menuen for KIO træk og slip
Comment[de]=Modul für Ziehen und Ablegen im Kontextmenü
Comment[en_GB]=Plugin for the KIO Drag-and-drop Popup Menu
Comment[es]=Complemento para el menú emergente de arrastrar y soltar de KIO
Comment[fi]=KIO:n vedä ja pudota -ponnahdusvalikkoliitännäinen
Comment[ko]=KIO 드래그 앤 드롭 팝업 메뉴 플러그인
Comment[nl]=Plug-in voor voor het KIO pop-upmenu slepen-en-loslaten
Comment[pl]=Wtyczka KIO "przeciągnij i upuść" do menu podręcznego
Comment[pt]='Plugin' do Menu de Arrastamento do KIO
Comment[pt_BR]=Plugin do menu de contexto de arrastar e soltar do KIO
Comment[sk]=Plugin pre KIO Drag-and-drop vyskakovacie menu
Comment[sl]=Vstavek za pojavni meni KIO povleci-in-spusti
Comment[sr]=Прикључак за искачући мени К‑У/И превлачења
Comment[sr@ijekavian]=Прикључак за искачући мени К‑У/И превлачења
Comment[sr@ijekavianlatin]=Priključak za iskačući meni K‑U/I prevlačenja
Comment[sr@latin]=Priključak za iskačući meni K‑U/I prevlačenja
Comment[sv]=Insticksprogram med drag och släpp för KIO popupmeny
Comment[tr]=KIO Sürükle Bırak Açılır Penceresi için eklenti
Comment[uk]=Додаток для контекстного меню перетягування зі скиданням KIO
Comment[x-test]=xxPlugin for the KIO Drag-and-drop Popup Menuxx
