[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KonqPopupMenu/Plugin
Comment=Plugin for the Konqueror Popup Menu
Comment[ca]=Connector per al menú emergent del Konqueror
Comment[es]=Complemento para el menú emergente de Konqueror
Comment[fr]=Module externe pour le menu contextuel de Konqueror
Comment[nl]=Plugin voor Konqueror's contextmenu
Comment[pt]='Plugin' do Menu de Contexto do Konqueror
Comment[pt_BR]=Plugin do Konqueror para menus de contexto
Comment[sv]=Insticksprogram Konquerors popupmeny
Comment[uk]=Додаток контекстного меню Konqueror
Comment[x-test]=xxPlugin for the Konqueror Popup Menuxx
