[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KUriFilter/Plugin
Name=Enhanced Browsing Plugin
Name[uk]=Додаток розширеної навігації
Name[x-test]=xxEnhanced Browsing Pluginxx
