[Desktop Entry]
Type=Application
Exec=kmailservice5 %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave5/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService
Name[ca]=KMailService
Name[cs]=Poštovní služba
Name[da]=KMailService
Name[de]=KMailService
Name[el]=KMailService
Name[en_GB]=KMailService
Name[es]=KMailService
Name[fi]=KMailService
Name[fr]=KMailService
Name[gd]=KMailService
Name[gl]=KMailService
Name[hu]=KMailService
Name[hy]=KMailService
Name[ia]=KMailService (Servicio de KMail)
Name[id]=KMailService
Name[it]=KMailService
Name[ja]=KMailService
Name[ko]=KMailService
Name[lt]=KMail tarnyba
Name[mr]=केमेलसेवा
Name[nb]=KMail-posttjeneste
Name[nds]=KMailService
Name[nl]=KMailService
Name[nn]=KMailService
Name[pa]=KMailService
Name[pl]=Usługa KMail
Name[pt]=KMailService
Name[pt_BR]=KMailService
Name[ru]=KMailService
Name[se]=KMailService
Name[sk]=KMailService
Name[sl]=KMailService
Name[sr]=Сервис за пошту
Name[sr@ijekavian]=Сервис за пошту
Name[sr@ijekavianlatin]=Servis za poštu
Name[sr@latin]=Servis za poštu
Name[sv]=Kmail-tjänst
Name[tr]=KMailService
Name[tt]=KMailService
Name[uk]=Служба пошти KMail
Name[vi]=Dịch vụ KMail
Name[x-test]=xxKMailServicexx
Name[zh_CN]=KMailService
Name[zh_TW]=KMail服務
