[Desktop Entry]
Type=Application
Exec=kmailservice5 %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave5/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService
Name[ca]=KMailService
Name[de]=KMailService
Name[fi]=KMailService
Name[gl]=KMailService
Name[hy]=KMailService
Name[ia]=KMailService (Servicio de KMail)
Name[nds]=KMailService
Name[nl]=KMailService
Name[pl]=Usługa KMail
Name[pt]=KMailService
Name[pt_BR]=KMailService
Name[sk]=KMailService
Name[sr]=Сервис за пошту
Name[sr@ijekavian]=Сервис за пошту
Name[sr@ijekavianlatin]=Servis za poštu
Name[sr@latin]=Servis za poštu
Name[sv]=Kmail-tjänst
Name[tt]=KMailService
Name[uk]=Служба пошти KMail
Name[x-test]=xxKMailServicexx
Name[zh_CN]=KMailService
