[Desktop Entry]
Type=Application
Exec=kmailservice5 %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave5/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService
Name[de]=KMailService
Name[hy]=KMailService
Name[nl]=KMailService
Name[pt_BR]=KMailService
Name[tt]=KMailService
Name[uk]=Служба пошти KMail
Name[x-test]=xxKMailServicexx
