[Desktop Entry]
Type=Application
Exec=kmailservice %u
Icon=mail-message-new
MimeType=x-scheme-handler/mailto;

X-DocPath=kioslave/mailto/index.html
NoDisplay=true

# KMailService is the handler for mailto URLs
Name=KMailService
Name[ar]=KMailService
Name[bg]=KMailService
Name[bs]=KMailService
Name[ca]=KMailService
Name[ca@valencia]=KMailService
Name[cs]=Poštovní služba
Name[da]=KMailService
Name[de]=KMailService
Name[el]=Υπηρεσία Kmail
Name[en_GB]=KMailService
Name[es]=KMailService
Name[et]=KMailService
Name[eu]=KMailService
Name[fa]=KMailService
Name[fi]=KMailService
Name[fr]=KMailService
Name[ga]=KMailService
Name[gl]=KMailService
Name[gu]=KMailસેવા
Name[he]=KMailService
Name[hi]=के-मेल-सर्विस
Name[hr]=KMailService
Name[hu]=KMailService
Name[hy]=KMailService
Name[ia]=KMailService (Servicio de KMail)
Name[is]=KMailÞjónusta
Name[it]=KMailService
Name[ja]=KMailService
Name[kk]=KMailService
Name[km]=KMailService
Name[ko]=KMailService
Name[lt]=KMail tarnyba
Name[lv]=KMailService
Name[mr]=KMail सेवा
Name[nb]=KMail-posttjeneste
Name[nds]=KMailService
Name[nl]=KMailService
Name[pa]=KMailService
Name[pl]=Usługa KMail
Name[pt]=KMailService
Name[pt_BR]=KMailService
Name[ro]=Serviciu KMail
Name[ru]=KMailService
Name[se]=KMailService
Name[si]=KMailService
Name[sk]=KMailService
Name[sl]=KMailService
Name[sr]=Сервис за пошту
Name[sr@ijekavian]=Сервис за пошту
Name[sr@ijekavianlatin]=Servis za poštu
Name[sr@latin]=Servis za poštu
Name[sv]=Kmail-tjänst
Name[tg]=Хадамоти KMailService
Name[th]=KMailService
Name[tr]=KMailService
Name[tt]=KMailService
Name[ug]=KMailService
Name[uk]=Служба пошти KMail
Name[vi]=KMailService
Name[wa]=KMailService
Name[x-test]=xxKMailServicexx
Name[zh_CN]=KMailService
Name[zh_TW]=KMail服務
