[Desktop Entry]
Type=Service
Name=InternetKeywordsFilter
X-KDE-Library=kf5/urifilters/kuriikwsfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=0
