[Desktop Entry]
Type=Service
Name=SearchKeywordsFilter
X-KDE-Library=kf5/urifilters/kurisearchfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=4
